 <div id="page-wrapper">
      <div id="absolute-wrapper">
        <div class="image image-1 image-2">
          <div class="well well-2"></div>
          <img src="images/aa.png" class="image image-1">
          <button class="btn btn-1 btn-3">Username</button>
          <button class="btn btn-1 btn-2">Metrics</button>
          <button class="btn btn-2 btn-4">Home</button>
          <div class="rectangle rectangle-1 rectangle-2"></div>
          <div class="well well-1 well-3">
            <img src="images/metri.png" class="image">
          </div>
          <div class="well well-1 well-4"></div>
          <div class="div-1 div-3">
            <p>Trend Topics&nbsp;</p>
          </div>
        
          <div class="rectangle rectangle-3"></div>
          <div class="paragraph div-1 div-2 div-4">
            <p>&nbsp;Travel&nbsp;</p>
          </div>

        <div class="paragraph div-1 div-2 div-5">
            <p>&nbsp;Healthy food&nbsp;</p>
          </div>
          
        </div>  
      </div>
 </div>