<%= form_for(@anet_value) do |f| %>
  <% if @anet_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anet_value.errors.count, "error") %> prohibited this anet_value from being saved:</h2>

      <ul>
      <% @anet_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :arduino_id %><br />
    <%= f.number_field :arduino_id %>
  </div>
  <div class="field">
    <%= f.label :command_id %><br />
    <%= f.number_field :command_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
