<h1>Listing anet_values</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Arduino</th>
    <th>Command</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anet_values.each do |anet_value| %>
  <tr>
    <td><%= anet_value.id %></td>
    <td><%= anet_value.arduino_id %></td>
    <td><%= anet_value.command_id %></td>
    <td><%= anet_value.value %></td>
    <td><%= link_to 'Show', anet_value %></td>
    <td><%= link_to 'Edit', edit_anet_value_path(anet_value) %></td>
    <td><%= link_to 'Destroy', anet_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anet value', new_anet_value_path %>
