<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @anet_value.id %>
</p>

<p>
  <b>Arduino:</b>
  <%= @anet_value.arduino_id %>
</p>

<p>
  <b>Command:</b>
  <%= @anet_value.command_id %>
</p>

<p>
  <b>Value:</b>
  <%= @anet_value.value %>
</p>


<%= link_to 'Edit', edit_anet_value_path(@anet_value) %> |
<%= link_to 'Back', anet_values_path %>
