<%= form_for(@personal_account) do |f| %>
  <% if @personal_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_account.errors.count, "error") %> prohibited this personal_account from being saved:</h2>

      <ul>
      <% @personal_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :sound_file %><br />
    <%= f.text_field :sound_file %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
