<div class="modal fade" id="modal-pair-telegram">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"><%= t(:telegram_pairing) %><i class="icon-twitter"></i></h4> 
  </div>
    <div class="modal-body">
      <p style="float: left;margin-top:-30px"><img src="/images/240px-Telegram_2019_Logo.svg.png" width="100px" height="100px" style="top:-30px"></p>
<p><%= t(:telegram_permission_content) %></p>
<p style="font-size:30px"><strong><%= session[:activeUser].user_id.split("-")[0] %><strong/></p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:not_now) %></a>
      <!-- a href="" class="btn btn-primary"><%= t(:lets_go) %></a -->
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
  <div class="modal fade" id="modal-pair-facebook-bot">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= t(:facebook_pairing) %><i class="icon-twitter"></i></h4> 
    </div>
      <div class="modal-body">
        <p style="float: left;margin-top:-30px"><img src="/images/f_logo_RGB-Blue_72.png" width="100px" height="100px" style="top:-30px"></p>
  <p><%= t(:facebook_permission_content) %></p>
  <p style="font-size:30px"><strong>anet_<%= session[:activeUser].user_id.split("-")[0] %><strong/></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:not_now) %></a>
        <a href="https://www.facebook.com/suitch.co/" class="btn btn-primary"><%= t(:lets_go) %></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
  <div class="modal fade" id="modal-pair-twitter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= t(:twitter_pairing) %><i class="icon-twitter"></i></h4> 
    </div>
      <div class="modal-body">
        <p style="float: left;margin-top:-30px"><img src="https://abs.twimg.com/a/1373698031/images/resources/twitter-bird-light-bgs.png" width="100px" height="100px" style="top:-30px"></p>
  <p><%= t(:twitter_permission_content) %></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:not_now) %></a>
        <a href="/auth/twitter" class="btn btn-primary"><%= t(:lets_go) %></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-pair-evernote">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= t(:evernote_pairing) %><i class="icon-pencil"></i></h4> 
    </div>
      <div class="modal-body">
        <p style="float: left;"><img src="http://evernote.com/media/img/logos/evernote_logo_4c-sm.png" style="top:-30px"></p>
  <p><%= t(:evernote_permission_content) %></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:not_now) %></a>
        <a href="auth/evernote" class="btn btn-primary"><%= t(:lets_go) %></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-pair-google-home">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= t(:google_pairing) %><i class="icon-google-plus-sign"></i></h4> 
    </div>
      <div class="modal-body">
        <p style="float: left;"><img src="http://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png" style="top:-30px"></p>
  <p><%= t(:google_permission_content) %></p> 
      </div>
       <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:not_now) %></a>
        <a href="auth/google_oauth2" class="btn btn-primary"><%= t(:lets_go) %></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

