  <% telefonos=SysUserPhone.find_all_by_sys_user(session[:activeUser].id) %>
  <% internalDevices=AnetDevice.find_all_by_id_owner(session[:activeUser].id) %>
  <% internalDevicesHash=Hash.new %>
<% mixedQuery="" %>
<% telefonos.each do |singleTelephone| %>
<% if mixedQuery!="" %>
<% mixedQuery=mixedQuery+" or " %>
<% end %>
<% mixedQuery=mixedQuery+"phone like '%"+singleTelephone.number+"%'" %>
<% end %>
<% if telefonos.length >0 %>
<% mixedQuery=mixedQuery+" or " %>
<% end %>
<% internalDevices.each do |singleDevice| %>
<% internalDevicesHash[singleDevice.token]=singleDevice %>
<% mixedQuery=mixedQuery+"phone like '%"+singleDevice.token+"%'" %>
<% if mixedQuery!="" %>
<% mixedQuery=mixedQuery+" or " %>
<% end %>
<% end %>
<% mixedQuery=mixedQuery+" phone like '%welcome%'" %>


  <section class="hbox stretch">
    <%= render :partial=>"shared/leftMainMenuPanel" %>
    <!-- vbox -->
    <section id="content">

      <section class="vbox">        
        <section class="bg-light lter">
          <section class="hbox stretch">          
            <!-- .aside -->
            <aside>
            <% if notice!="" and notice!=nil %>
              <div class="alert alert-warning alert-block">
                <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                <h4><i class="fa fa-bell-o"></i>Hey u!</h4>
                <p><%= notice %></p>
              </div>
            <% end %>
              <section class="vbox">

                <section class="scrollable wrapper">
                  <div class="timeline">

                    <article class="timeline-item active">
                        <div class="timeline-caption">
                          <div class="panel bg-success lter no-borders">
                            <div class="panel-body">
                              <span class="timeline-icon"><i class="fa fa-fire time-icon bg-success"></i></span>
                              <span class="timeline-date"><%= t(:spoken_language) %> </span>

                              <select name="account" class="form-control m-b" onchange="changeLanguage(this.options[this.selectedIndex].value)">
                                <option value="en" <% if session[:activeUser].lang=='en' %> selected="selected"<% end %>>English</option>
                                <option value="es" <% if session[:activeUser].lang=='es' %> selected="selected"<% end %>>Spanish</option>
                                <option value="fr" <% if session[:activeUser].lang=='fr' %> selected="selected"<% end %>>French</option>
                                <option value="de" <% if session[:activeUser].lang=='de' %> selected="selected"<% end %>>German</option>
                              </select>



                              <h5>
                                <span><%= t(:dear) %> <%= session[:activeUser].name %> <%= t(:online_server) %></span>
                                -Root (Ruth)
                              </h5>
                              

                              <div class="m-t-sm timeline-action">
                                <span class="h3 pull-left m-r-sm"></span>
                                
                                <a href="skype:+99051000214654?call" class="btn btn-sm btn-white"><i class="fa fa-skype"></i> +99051000214654</a>
                                <% primerTelefono=SysUserPhone.where(:sys_phone_type=>1,:sys_user=>session[:activeUser].id) %>
                                <% defaultNumber=Sys_Region.find_by_id(1) %>
                                <% if primerTelefono!=nil %>
                                <% customAccessPoint=Sys_Region.find_by_area_code(primerTelefono[0..3]) %>
                                <% if customAccessPoint!=nil %>
                                <a href="tel:<% customAccessPoint.access_point %>" class="btn btn-sm btn-white"><i class="fa fa-phone"></i><%= customAccessPoint.access_point %></a>
                                <% else %>
                                <a href="tel:+52 <%= defaultNumber.area_code %> <%= defaultNumber.access_point %>" class="btn btn-sm btn-white"><i class="fa fa-phone"></i>+52 <%= defaultNumber.area_code %> <%= defaultNumber.access_point %></a>
                                <% end %>
                                <% else %>
                                
                                <a href="tel:+52 <%= defaultNumber.area_code %> <%= defaultNumber.access_point %>" class="btn btn-sm btn-white"><i class="fa fa-phone"></i>+52 <%= defaultNumber.area_code %> <%= defaultNumber.access_point %></a>
                                <% end %>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                    </article>
                     <% frasesDictadas=Sys_Phrase.find_by_sql("select * from sys_phrases where ("+mixedQuery+") order by id desc limit 30 ") %>
                    <% sumaAdicional="left" %>
                    <% sumaAdicionalPos="" %>
                    <% conversationId="" %>
                    <% frasesDictadas.each_with_index {|item, frasesContador| %>
                    <% if frasesDictadas[frasesContador].callid!=conversationId or frasesDictadas[frasesContador].callid==nil %>
                      <% conversationId=frasesDictadas[frasesContador].callid %>
                    <article class="timeline-item <%= sumaAdicionalPos %>">
                        <div class="timeline-caption">
                          <div class="panel">
                            <div class="panel-body">
                              <span class="arrow <%= sumaAdicional %>"></span>
                              <% if sumaAdicional=="left" %>
                              <% sumaAdicional="right" %>
                              <% sumaAdicionalPos="alt" %>
                              <% else %>
                              <% sumaAdicional="left" %>
                              <% sumaAdicionalPos="" %>
                              <% end %>
                              <span class="timeline-icon">
                              <% if frasesDictadas[frasesContador].interface_executed!=11 %>
                              <i class="fa fa-phone time-icon bg-primary"></i>
                              <% else %>
                              <i class="fa fa-bug time-icon bg-danger"></i>
                              <% end %>
                              </span>
                              <% if frasesDictadas[frasesContador].created_at != nil %>
                              <span class="timeline-date"><%= frasesDictadas[frasesContador].created_at - 5.hour %></span>
                              <% end %>
                              <h5>
                              <% if frasesDictadas[frasesContador].interface_executed!=11 and frasesDictadas[frasesContador].interface_executed!=12 %>
                                <span><%= t(:call_contents) %> </span>
                              <% else %>
                              <span>iThing <%= t(:ithing_content) %> (<%= internalDevicesHash[frasesDictadas[frasesContador].phone].location %>:<%= internalDevicesHash[frasesDictadas[frasesContador].phone].object %>)</span>
                              <% end %>
                        <% end %>
                                <a href="/summaries/call/<%= frasesDictadas[frasesContador].id %>.html" data-toggle="ajaxModal" ><%= frasesDictadas[frasesContador].phrase %> <i class="fa fa-external-link inline-block"></i></a><br>
                                <% if frasesDictadas[frasesContador+1]!=nil %>
                                  <% if frasesDictadas[frasesContador+1].callid!=conversationId or frasesDictadas[frasesContador].callid==nil %>
                                          </h5>
                                        </div>       
                                      </div>
                                    </div>
                                    </article>
                      
                                    <% end %>
                                <% else %>
                      </h5>
                            </div>       
                          </div>
                        </div>
                    </article>
                    <% end %>
                    <% } %>

                   
                    <div class="timeline-footer"><a href="#"><i class="fa fa-plus time-icon inline-block bg-dark"></i></a></div>
                  </div>
                </section>
              </section>
            </aside>
            <!-- /.aside -->
            <%= render :partial=>"shared/rightPanel",:locale => 'en' %>
          </section>
        </section>
        <footer class="footer bg-light dker bg-gradient">
          <p><%= t(:suitch_copyright) %> </p>
        </footer>
      </section>
    </section>
    <!-- /.vbox -->
  </section>
  

  <div id="ajaxModal" class="modal fade"></div>

  <%= render :partial=>'personal_accounts/thirdparties',:locale => 'en' %>
