
<script type="text/javascript">
$(document).ready(function() {


  
});

function madeSelection(typeSelection){
  if(typeSelection=="evernote"){
    $("#evernoteAlert").modal('show');    
  } else if(typeSelection=="twitter"){
    $("#twitterAlert").modal('show');    
  }

}
function doAddPhone(){
  $("#newNumberPopUp").modal('show');
}
function doEvernotePairing(){

  window.location.href="auth/evernote"
}
function doTwitterPairing(){
  window.location.href="auth/twitter"
}
</script>
<% telefonos=Sys_User_Phone.find_all_by_sys_user(session[:activeUser].id) %>
<% mixedQuery="" %>
<% telefonos.each do |singleTelephone| %>
<% if mixedQuery!="" %>
<% mixedQuery=mixedQuery+" or " %>
<% end %>
<% mixedQuery=mixedQuery+"phone like '%"+singleTelephone.number+"%'" %>
<% end %>
<% if telefonos.length >0 %>
<% mixedQuery=mixedQuery+" or " %>
<% end %>
<% mixedQuery=mixedQuery+" phone like '%welcome%'" %>
 <div id="page-wrapper">
      <div id="absolute-wrapper">
        <div class="image image-1 image-4" >
          <div class="well div-1"></div>
          <img src="images/aa.png" class="image image-1 image-5" style="z-index:100">
          <button class="btn btn-2">Username </button>
          <button class="btn btn-1 btn-3">Metrics</button>
          <button class="btn btn-1 btn-4">Home</button>
          <div class="rectangle rectangle-1 rectangle-2 rectangle-15"></div>
          <div class="rectangle rectangle-2 rectangle-3 rectangle-4 rectangle-16">
            <div class="div-1">
              <img src="<%= session[:activeUser].avatar.to_s() %>&type=large" class="image image-2" style="width: 138px; height: 120px">
            </div>
          </div>
          <label class="control-label"></label>

          <% frasesDictadas=Sys_Phrase.find_by_sql("select * from sys_phrases where ("+mixedQuery+") and soundfile is not null order by id desc limit 10 ") %>
          <% sumaAdicional=156 %>
          <% frasesDictadas.each do |singleFraseDictada| %>
          <div class="rectangle rectangle-2 rectangle-3 rectangle-4 rectangle-5 rectangle-6" style="top:<%= sumaAdicional %>px">
            <div class="rectangle rectangle-3 rectangle-7 rectangle-8 rectangle-9 div-2" >
              <div class="paragraph div-1 div-2 div-3" >
              <div style="margin-top:-50px"><h3 style="color:white;font-style: italic;">

              <% if singleFraseDictada.interface_executed!=2%>
              <img src="<%= Api_Interface.find_by_id(singleFraseDictada.interface_executed).icon %>" width="50px" height="50px" >
              <% end %>

              <% if singleFraseDictada.interface_executed==2%>
              <img src="<%= Api_Interface.find_by_id(singleFraseDictada.interface_executed).icon %>" width="40px" height="40px" >
              <% end %>
              <%= Api_Interface.find_by_id(singleFraseDictada.interface_executed).name %></h3></div>
              <div >
              
                <audio src="calls/<%= singleFraseDictada.soundfile %>.mp3" preload="auto" width="120"/>
                </div>
                <% if singleFraseDictada.interface_executed==4%>
                 <%= singleFraseDictada.phrase %>
                <% else %>
                <p>The contents of this audio where executed and sent succesfully to this application </p>
                <% end %>
              </div>
            </div>
          </div>
          <% sumaAdicional=sumaAdicional+250 %>
          <% end %>



          <div class="div-1 div-5">
            <p><%= session[:activeUser].name %></p>
            <p><%= session[:activeUser].last_name %></p>
          </div>
          <div style="top:300px;position:absolute">
            
          
          <ul>
          <% @registeredInterfaces.each do |singleInterface| %>
          <li>
          <div class="rectangle rectangle-3 rectangle-8 rectangle-10 rectangle-11 rectangle-17">
            <label class="checkbox">
            <% busqueda=Api_Token_User_Interface.where("api_interface='"+singleInterface.id.to_s+"' and sys_user='"+session[:activeUser].id.to_s+"'") %>
            <% if busqueda.length>0 %>
              <input type="checkbox" value="" name="" checked onclick="madeSelection('<%= singleInterface.name %>')">
            <% else %>
              <input type="checkbox" value="" name="" onclick="madeSelection('<%= singleInterface.name %>')">
            <% end %>
              <span><%= singleInterface.name %></span>
            </label>
          </div>
          </li>
          <% end %>
          <li>
          <div class="rectangle rectangle-1 rectangle-2 rectangle-19"></div>
          </li>
          </ul>
           <div class="rectangle rectangle-2 rectangle-3 rectangle-5 rectangle-12 rectangle-141">
            <div class="rectangle rectangle-3 rectangle-7 rectangle-8">
              <table class="table">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Phone Number</th>
                  </tr>
                </thead>
                <!-- telephone types -->
                

                <tbody>
                <% telefonos.each do |singleTelephone| %>
                  <tr>
                    <td><%= Sys_Phone_Type.find_by_id(singleTelephone.sys_phone_type).ptype %></td>
                    <td><%= singleTelephone.number %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
                
            </div>

          </div>
          <button type="button" onclick="doAddPhone()" style="margin-left:100px; margin-top:140px">Add new number!</button>
          </div>
         <!--  <div class="rectangle rectangle-2 rectangle-3 rectangle-10 rectangle-12 rectangle-13 rectangle-14">
            <img src="images/sound-wave-slider3-1.jpg" class="image image-1 image-2 image-3">
          </div> -->
          
          
         
          <!-- <div class="rectangle rectangle-2 rectangle-3 rectangle-6 rectangle-10 rectangle-12 rectangle-13">
            <img src="images/sound-wave-slider3-1.jpg" class="image image-1 image-2 image-3">
          </div> dfddfdf-->

          <!-- <div class="rectangle rectangle-2 rectangle-3 rectangle-6 rectangle-10 rectangle-12 rectangle-20">
            <div class="rectangle rectangle-3 rectangle-7 rectangle-8 rectangle-9 div-4">
              <img src="images/tic.png" class="image image-1">
              <div class="paragraph div-1 div-3 div-4">
                <p>Ticket of my flight. I must remembers to buy some sun lenses</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Modal -->
<div id="evernoteAlert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <h3 id="myModalLabel">Evernote pairing</h3>
  </div>
  <div class="modal-body">
  <p style="float: left;"><img src="http://evernote.com/media/img/logos/evernote_logo_4c-sm.png" style="top:-30px"></p>
    <p>In order to activate the evernote compatibility we need to pair your current lineAccess account with your evernote account</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Not now</button>
    <button class="btn btn-primary" onclick="doEvernotePairing()">Let's go!</button>
  </div>
</div>

<div id="twitterAlert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   
    <h3 id="myModalLabel">Twitter pairing</h3>

  </div>
  <div class="modal-body">
 <p style="float: left;margin-top:-30px"><img src="https://abs.twimg.com/a/1373698031/images/resources/twitter-bird-light-bgs.png" width="100px" height="100px" style="top:-30px"></p>
    <p>If you activate twitter functionality, you will be able to read and write tweets from the public stream and from your direct messages.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Not now</button>
    <button class="btn btn-primary" onclick="doTwitterPairing()">Let's go!</button>
  </div>
</div>

<div id="newNumberPopUp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   
    <h3 id="myModalLabel">Add new phone</h3>

  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" onclick="doTwitterPairing()">Add</button>
  </div>
</div>