<script type="text/javascript">
$(document).ready(function() {


  
});

function madeSelection(typeSelection){

  if(typeSelection=="evernote"){
    $("#evernoteAlert").modal('show');    
  } else if(typeSelection=="twitter"){
    $("#twitterAlert").modal('show');    
  }

}
function doAddPhone(){
  $("#newNumberPopUp").modal('show');
}
function doEvernotePairing(){

  window.location.href="auth/evernote"
}
function doTwitterPairing(){
  window.location.href="auth/twitter"
}
</script>
<% telefonos=Sys_User_Phone.find_all_by_sys_user(session[:activeUser].id) %>
<% mixedQuery="" %>
<% telefonos.each do |singleTelephone| %>
<% if mixedQuery!="" %>
<% mixedQuery=mixedQuery+" or " %>
<% end %>
<% mixedQuery=mixedQuery+"phone like '%"+singleTelephone.number+"%'" %>
<% end %>
<% if telefonos.length >0 %>
<% mixedQuery=mixedQuery+" or " %>
<% end %>
<% mixedQuery=mixedQuery+" phone like '%welcome%'" %>
  <div class="w-row">
    <div class="w-col w-col-4 left-sidebar">
      <div class="fixed-nav">
      
      <div style="margin-top:0px;margin-left:-120px">
        <img class="avatarImage" src="<%= session[:activeUser].avatar.to_s() %>&type=large" alt="logo-img.png">
        <div style="background-color: blue;display: inline-block;margin-left:-150px;">
        <h3 style="display: inline-block;top:138px;position:absolute;margin-left:-28px"><%= session[:activeUser].name %></h3>
        <h3 style="top:157px;position:absolute;margin-left:15px"><%= session[:activeUser].last_name %></h3>
        </div>
        
        </div>

        <!-- <a class="nav-link" style="margin-top:20px" href="#page-nav-Section 1" target="_self">Lineaccess</a> -->
        <% @registeredInterfaces.each do |singleInterface| %>
            <% busqueda=Api_Token_User_Interface.where("api_interface='"+singleInterface.id.to_s+"' and sys_user='"+session[:activeUser].id.to_s+"'") %>
            <% if busqueda.length>0 %>
              <a class="nav-link" href="#" onclick="madeSelection('<%= singleInterface.name %>');"><%= singleInterface.name %><i class="icon-ok"></i></a>
            <% else %>
              <a class="nav-link" href="#" onclick="madeSelection('<%= singleInterface.name %>');"><%= singleInterface.name %></a>
            <% end %>
          <% end %>
      <!--   <a class="nav-link" href="#page-nav-Section 2" target="_self">facebook</a>
        <a class="nav-link" href="#page-nav-Section 3" target="_self">twitter</a>
        <a class="nav-link" href="#">linkedin</a>
        <a class="nav-link" href="#">qiwo</a>
        <a class="nav-link" href="#">salir</a> -->

        <div class="italic-text">Here is some footer text or page description text.</div>
        <a class="w-inline-block social-icon" href="#">
          <img src="images/8a-social-email.png" width="21px" alt="8a-social-email.png">
        </a>
        <a class="w-inline-block social-icon" href="#">
          <img src="images/8b-social-facebook.png" width="21px" alt="8b-social-facebook.png">
        </a>
        <a class="w-inline-block social-icon" href="#" target="_self">
          <img src="images/8c-social-twitter.png" width="21px" alt="8c-social-twitter.png">
        </a>
      </div>
    </div>

    <div class="w-col w-col-8 content-column">
      
        
         <% frasesDictadas=Sys_Phrase.find_by_sql("select * from sys_phrases where ("+mixedQuery+") and soundfile is not null order by id desc limit 10 ") %>
          <% sumaAdicional=156 %>
          <% frasesDictadas.each do |singleFraseDictada| %>
         <div class="image-example"></div>
          <div class="content-block">
            <h1 id="page-nav-Section 2"><%= Api_Interface.find_by_id(singleFraseDictada.interface_executed).name %></h1>
            <p><%= singleFraseDictada.phrase %></p>
           <!--  <p>Section description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
              nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <p>Section description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
              nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p> --><a class="button" href="#">Escuchar</a>
              </div>
          <% end %>

      


      <div class="image-example"></div>
      <div class="content-block">
        <h1 id="page-nav-Section 3">Another section heading</h1>
        <p>Section description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
          nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        <p>Section description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
          nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><a class="button" href="#">Escuchar</a>
      </div>
      <div class="footer-section">
        <div class="italic-text footer">Some footer text can go here. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
      </div>
    </div>
  </div>

  <div id="twitterAlert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   
    <h3 id="myModalLabel">Twitter pairing</h3>

  </div>
  <div class="modal-body">
 <p style="float: left;margin-top:-30px"><img src="https://abs.twimg.com/a/1373698031/images/resources/twitter-bird-light-bgs.png" width="100px" height="100px" style="top:-30px"></p>
    <p>If you activate twitter functionality, you will be able to read and write tweets from the public stream and from your direct messages.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Not now</button>
    <button class="btn btn-primary" onclick="doTwitterPairing()">Let's go!</button>
  </div>
</div>

<div id="newNumberPopUp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   
    <h3 id="myModalLabel">Add new phone</h3>

  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" onclick="doTwitterPairing()">Add</button>
  </div>
</div>

<div id="evernoteAlert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <h3 id="myModalLabel">Evernote pairing</h3>
  </div>
  <div class="modal-body">
  <p style="float: left;"><img src="http://evernote.com/media/img/logos/evernote_logo_4c-sm.png" style="top:-30px"></p>
    <p>In order to activate the evernote compatibility we need to pair your current lineAccess account with your evernote account</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Not now</button>
    <button class="btn btn-primary" onclick="doEvernotePairing()">Let's go!</button>
  </div>
</div>