<p id="notice"><%= notice %></p>

<p>
  <b>Note:</b>
  <%= @personal_account.note %>
</p>

<p>
  <b>Sound file:</b>
  <%= @personal_account.sound_file %>
</p>

<p>
  <b>User:</b>
  <%= @personal_account.user_id %>
</p>


<%= link_to 'Edit', edit_personal_account_path(@personal_account) %> |
<%= link_to 'Back', personal_accounts_path %>
