<div class="modal fade in" id="modal-new-phone" style="display: block;">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"><%= t(:device) %> <i class="icon-phone"></i></h4> 
  </div>
    <div class="modal-body">
      <p><%= t(:call_contents) %></p>
      <%= simple_form_for @call_contents, :url =>"/summaries",  :html => {:multipart => true} do |f| %>
  
    
    
        
        <%= f.input :phone,required:true,label:t(:device),input_html: { class:'form-control', placeholder:'XXXX XXX'} %>
        <%= f.input :phrase,required:true,label:t(:call_type),input_html: { class:'form-control', placeholder:'XXXX XXX'} %>
        <%= f.input :translate,required:true,label:t(:call_detail),input_html: { class:'form-control', placeholder:'XXXX XXX'} %>
              
    <% end %>
    
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>