  

  <section class="hbox stretch">
    <%= render :partial=>"shared/leftMainMenuPanel",:locale => 'en' %>
    <!-- .vbox -->
    <section id="content">
      

      <section class="vbox">        
        <section class="bg-light lter">
          <section class="hbox stretch">  

            <!-- .aside -->
            <aside>
            <% if notice!="" and notice!=nil %>
              <div class="alert alert-warning alert-block">
                <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                <h4><i class="fa fa-bell-o"></i>Hey u!</h4>
                <p><%= notice %></p>
              </div>
            <% end %>
              <section class="vbox">
              <header class="header b-b">
          <p><%= t(:hello) %> <%= session[:activeUser].name %>, <%= t(:welcomeback) %></p>
          <p id="ncharge">...actualizando la información a tu ubicación.</p>
        </header>

<section class="scrollable wrapper">
                <!--
    data-forum: name of the forum (required)
    data-lang: en or fi (optional)
-->
<div class="col-lg-6">

<section class="panel bg-info lter no-borders">
                <div class="panel-body">
                  <a class="pull-right" href="#"><i class="fa fa-map-marker"></i></a>
                  <span class="h4"><%= t(:welcome_back) %></span>
                  <div class="text-center padder m-t">
                  <% 
                  tearth=["USGS","1"]
                  tvolcano=["2"]
                  twater=["3"]
                  # -19.186963, -177.872656
                  %>
                    <span class="h1"><img src="images/45863.png" class="img-circle"> (<%= Earthquake.where(:gateway=>tearth).where("acos(sin(earthquakes.latitude * 0.0175) * sin("+session[:activeUser].lat+" * 0.0175) + cos(earthquakes.latitude * 0.0175) * cos("+session[:activeUser].lat+" * 0.0175) * cos(("+session[:activeUser].lon+" * 0.0175) - (earthquakes.longitude * 0.0175))) * 3959 <= "+GeoSetting.find_by_sys_user_id(session[:activeUser].id).add_distancia.to_s+"*.62137").length %>)</span>  
                    <span class="h1"><img src="images/volcano.fw.png" class="img-circle"> (<%= Earthquake.where(:gateway=>tvolcano).where("acos(sin(earthquakes.latitude * 0.0175) * sin("+session[:activeUser].lat+" * 0.0175) + cos(earthquakes.latitude * 0.0175) * cos("+session[:activeUser].lat+" * 0.0175) * cos(("+session[:activeUser].lon+" * 0.0175) - (earthquakes.longitude * 0.0175))) * 3959 <= "+GeoSetting.find_by_sys_user_id(session[:activeUser].id).add_distancia.to_s+"*.62137").length %>)</span>  
                    <span class="h1"><i class="fa fa-cloud text-muted"></i> (<%= Earthquake.where(:gateway=>twater).where("acos(sin(earthquakes.latitude * 0.0175) * sin("+session[:activeUser].lat+" * 0.0175) + cos(earthquakes.latitude * 0.0175) * cos("+session[:activeUser].lat+" * 0.0175) * cos(("+session[:activeUser].lon+" * 0.0175) - (earthquakes.longitude * 0.0175))) * 3959 <= "+GeoSetting.find_by_sys_user_id(session[:activeUser].id).add_distancia.to_s+"*.62137").length %>)</span>
                  </div>
                  <div class="form-group text-center padder m-t">
                  <label class="col-sm-2 control-label"><%= t(:distance) %></label>
                      <div class="col-sm-10">
                        <input class="slider slider-horizontal form-control" type="text" value="<%= GeoSetting.find_by_sys_user_id(session[:activeUser].id).add_distancia %>" data-slider-min="20" data-slider-max="400" data-slider-step="1" data-slider-value="<%= GeoSetting.find_by_sys_user_id(session[:activeUser].id).add_distancia %>" data-slider-orientation="horizontal" id="kmslide">
                      </div>
                      </div>
                </div>
                <footer class="panel-footer lt">
                  <div class="row">
                    <div class="col-xs-4">
                      <small class="text-muted block"><%= t(:earthquakes) %> (<a href="javascript:performSimulation('earthquakes');" ><%= t(:simulate) %></a>)</small>
                      <span><div class="checkbox">
                              <label>
                                <input type="checkbox" id="oned" onclick="javascript:saveGeoSettings();" <%= GeoSetting.find_by_sys_user_id(session[:activeUser].id).earthquakes==1? "checked" : "" %> > <%= t(:notifyme) %> 
                              </label>
                            </div>
</span>
                    </div>
                    <div class="col-xs-4">
                      <small class="text-muted block"><%= t(:volcanos) %> (<a href="javascript:performSimulation('volcano');" ><%= t(:simulate) %></a>)</small>
                      <span><div class="checkbox">
                              <label>
                                <input type="checkbox" id="twod" onclick="javascript:saveGeoSettings();" <%= GeoSetting.find_by_sys_user_id(session[:activeUser].id).volcano==1? "checked" : "" %>> <%= t(:notifyme) %> 
                              </label>
                            </div></span>
                    </div>
                    <div class="col-xs-4">
                      <small class="text-muted block"><%= t(:floods) %> (<a href="javascript:performSimulation('water');" ><%= t(:simulate) %></a>)</small>
                      <span><div class="checkbox">
                              <label>
                                <input type="checkbox" id="threed" onclick="javascript:saveGeoSettings();" <%= GeoSetting.find_by_sys_user_id(session[:activeUser].id).water==1? "checked" : "" %>> <%= t(:notifyme) %> 
                              </label>
                            </div></span>
                    </div>
                  </div>
                </footer>
              </section>

              <section class="panel">
                    <div class="panel-body">
                      <div class="clearfix m-b">
                        <small class="text-muted pull-right">1hr ago</small>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <img src="images/avatar_default.jpg" class="img-circle">
                        </a>
                        <div class="clear">
                          <a href="#"><strong><%= t(:your_location) %></strong></a>
                          <small class="block text-muted" id="showMeOnMap"></small>
                        </div>
                      </div>


                      <div id="gmap_marker" style="height:362px"></div>
                      <!--   <p class="m-t-sm m-b text-center animated bounceInDown">
                          <i class="fa fa-map-marker text-danger fa fa-4x" data-toggle="tooltip" title="checked in at Newyork"></i>
                        </p> -->


                        <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBZaFXyd4_8iMAH-VMxpLDMcCm0GC8n0Lo&libraries=geometry&center=Monterrey,Nuevo+Leon,MX&zoom=13&size=330x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&sensor=false"> -->
                      
                    </div>
                    <footer class="panel-footer pos-rlt">
                      <span class="arrow top"></span>
                      <form class="pull-out">
                        <!-- <input type="text" class="form-control no-border input-lg text-sm" placeholder="Write a comment..."> -->
                      </form>
                    </footer>
                  </section>

                 
                 


              </div>
              <div class="col-lg-6">
              
              <section class="panel">
                <div class="carousel slide auto panel-body" id="c-slide">
                    <ol class="carousel-indicators out">
                      <li data-target="#c-slide" data-slide-to="0" class="active"></li>
                      <li data-target="#c-slide" data-slide-to="1" class=""></li>
                      <li data-target="#c-slide" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                        <p class="text-center">
                          <em class="h4 text-mute"><%= t(:learn_suitch) %></em><br>
                          <small class="text-muted"><a class="fancybox-media" href="<%= t(:learn_suitch_url) %>" id="welcome-video"><%= t(:learn_suitch_click) %></a></small>
                        </p>
                      </div>
                      <div class="item">
                        <p class="text-center">
                          <em class="h4 text-mute"><%= t(:for_developers) %></em><br>
                          <small class="text-muted"><a class="fancybox-media" href="<%= t(:for_developers_url) %>" id="welcome-video"><%= t(:for_developers_click) %></a></small>
                        </p>
                      </div>
                      <div class="item">
                        <p class="text-center">
                          <em class="h4 text-mute"><%= t(:voice_recognition) %></em><br>
                          <small class="text-muted"><a class="fancybox-media" href="<%= t(:voice_recognition_url) %>" id="welcome-video"><%= t(:voice_recognition_click) %></a></small>
                        </p>
                      </div>
                    </div>
                    <a class="left carousel-control" href="#c-slide" data-slide="prev">
                      <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#c-slide" data-slide="next">
                      <i class="fa fa-angle-right"></i>
                    </a>
                </div>
              </section>

            <% if session[:activeUser].sys_rol==1 %>
             <section class="panel">
                <header class="panel-heading font-bold">                  
                  Origen de datos geologicos <a href="javascript:newOrigin();" class="btn btn-default btn-xs pull-right" data-toggle="modal">Agregar nuevo origen CAP</a>
                </header>
                <div class="panel-body">

                <% FeedReader.all.each do |singleFeeder| %>
                <form accept-charset="UTF-8" action="/feed_readers/<%= singleFeeder.id %>" class="simple_form form-inline" enctype="multipart/form-data" id="edit_feed_readers_<%= singleFeeder.id %>" method="post" novalidate="novalidate" role="form">
                <div style="margin:0;padding:0;display:inline">
                <input name="_method" type="hidden" value="put" />
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />
                </div>

                <div class="input-group input ">

                          
                            
                          
                        

                              <input type="text" id="appendedInput" name="feed_reader[url_source]" value="<%= singleFeeder.url_source %>" class="input-sm form-control">
                              <div class="input-group-btn">
                                <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
                                <% if singleFeeder.event_typer==3 %>
                                  <span class="dropdown-label">Actividad meteorologica</span>  
                                <% elsif singleFeeder.event_typer==2 %>
                                <span class="dropdown-label">Actividad volcanica</span>  
                                <% elsif singleFeeder.event_typer==1 %>
                                <span class="dropdown-label">Actividad sismica</span>  

                                <% end %>
                                  
                                  
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-select pull-right">
                                  <li class="active">
                                    <a href="#"><input type="radio" value="1" name="feed_reader[event_typer]" checked="">Actividad sismica</a>
                                  </li>
                                  <li>
                                    <a href="#"><input type="radio" value="2" name="feed_reader[event_typer]">Actividad volcanica</a>
                                  </li>
                                  <li>
                                    <a href="#"><input type="radio" value="3" name="feed_reader[event_typer]">Actividad meteorologica</a>
                                  </li>
                                </ul>
                              </div>

                              
                          </div>


                    <input name="feed_reader[is_active]" type="hidden" value="0" />
                    <label class="checkbox">
                    <input <%= singleFeeder.is_active==1? 'checked="checked"' : "" %> class="boolean optional" id="feed_reader_is_active" inline_label="Activo" input_html="{:class=&gt;&quot;form-control pull-right text-uc m-t-n-xs&quot;}" name="feed_reader[is_active]" type="checkbox" value="1" />
                    Activo
                    </label>

                    
                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs">Guardar</button>    
                    

                  </form>  
                <% end %>

                                
                </div>
              </section>




              <section class="panel">
                <header class="panel-heading font-bold">                  
                Mensajes másivos a todos los usuarios registrados
                </header>
                <div class="panel-body">

               <form class="form-inline" role="form">
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputEmail2">Mensaje</label>
                      <input type="text" class="form-control" id="globalmsgq" placeholder="Ingresar mensaje">
                    </div>
                    
                    <button type="submit" class="btn btn-default" onclick="javascript:sendToAllg();">Enviar</button>
                    
                  </form> 

                                
                </div>
              </section>
              <% end %>


              </div>
              </section>










                
              </section>
            </aside>
            <!-- /.aside -->
            <%= render :partial=>"shared/rightPanel",:locale => 'en' %>
          </section>
        </section>
        <footer class="footer bg-light dker bg-gradient">
          <p><%= t(:suitch_copyright) %> </p>
        </footer>
      </section>
    </section>
    <!-- /.vbox -->
  </section>

  

  <%= render :partial=>'personal_accounts/thirdparties',:locale => 'en' %>

  <script src="https://maps.google.com/maps/api/js?sensor=true&key=AIzaSyBZaFXyd4_8iMAH-VMxpLDMcCm0GC8n0Lo&libraries=geometry" cache="false"></script>
  <script src="js/maps/gmaps.js" cache="false"></script>
  <script src="js/maps/demo.js" cache="false"></script>

  
