<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @summary.id %>
</p>

<p>
  <b>User:</b>
  <%= @summary.user_id %>
</p>


<%= link_to 'Edit', edit_summary_path(@summary) %> |
<%= link_to 'Back', summaries_path %>
