<%= simple_form_for(@feed_reader) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :url_source %>
    <%= f.input :last_notification %>
    <%= f.input :titulo %>
    <%= f.input :descripcion %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
