<h1>Listing feed_readers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Url source</th>
    <th>Last notification</th>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feed_readers.each do |feed_reader| %>
  <tr>
    <td><%= feed_reader.id %></td>
    <td><%= feed_reader.url_source %></td>
    <td><%= feed_reader.last_notification %></td>
    <td><%= feed_reader.titulo %></td>
    <td><%= feed_reader.descripcion %></td>
    <td><%= link_to 'Show', feed_reader %></td>
    <td><%= link_to 'Edit', edit_feed_reader_path(feed_reader) %></td>
    <td><%= link_to 'Destroy', feed_reader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed reader', new_feed_reader_path %>
