<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @feed_reader.id %>
</p>

<p>
  <b>Url source:</b>
  <%= @feed_reader.url_source %>
</p>

<p>
  <b>Last notification:</b>
  <%= @feed_reader.last_notification %>
</p>

<p>
  <b>Titulo:</b>
  <%= @feed_reader.titulo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @feed_reader.descripcion %>
</p>


<%= link_to 'Edit', edit_feed_reader_path(@feed_reader) %> |
<%= link_to 'Back', feed_readers_path %>
