@import
url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic);

/* Table of Content
==================================================
		/* general styling 
		/*  columns and margins
		/* menu
			/* mobile menu
		/* home
		/* services
		/* latest work
		/* about
		/* testimonials
		/* portfolio
		/* blog
		/* contact
		/* map
		/* footer
		/* single post
		/* @media
================================================== */
/* general styling */
body
{
	background-color: #eae7e2;
	font-family: 'Open Sans',sans-serif,Arial;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.02em;
}
#wrapper
{
	margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.container
{
    position: relative;
    width: 100%;
}

.row
{
	margin-left: 0;
	margin-right: 0;
}

ul, ol
{
	padding: 0;
}
h1
{
	font: 300 38px/1.32em 'Open Sans',sans-serif,Arial;
	letter-spacing: -0.02em;
}
h2
{
	font: 300 30px/1.33em 'Open Sans',sans-serif,Arial;
	letter-spacing: -0.02em;
}
h3
{
	font: bold 22px/1.59em 'Open Sans',sans-serif,Arial;
	letter-spacing: -0.02em;
}
h4
{
	font: 300 18px/1.67em 'Open Sans',sans-serif,Arial;
	letter-spacing: -0.02em;
}
h5
{
	font: 24px/1.67em 'Open Sans',sans-serif,Arial;
	letter-spacing: -0.02em;
}
a:visited, 
a:active
{
    text-decoration: none;
    border: none;
    outline: none;
}
a:hover 
{
    text-decoration: none;
    border: none;
    outline: none;
}
.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
	background-color: #eae7e2;	
}
.doc-loader td 
{   
    text-align: center;
    vertical-align: middle;
}
.btn-md
{
    text-shadow: none;
}
/* columns and margins */ 
.m_top_30
{
	margin-top: 30px;
}
.m_top_50
{
	margin-top: 50px;
}
.m_bottom_30
{
	margin-bottom: 30px;
}
.m_bottom_65
{
	margin-bottom: 65px;
}
/* menu */
ul.nav
{
	padding-top: 3px;
}
#nav_wrapper
{
}
#md_nav
{
	background-color: #eae7e2;
	margin-bottom: 0;
}
#md_nav .navbar-header
{
	padding-top: 0;
}
#md_nav .container.menu_wrapper
{
	background-color: #eae7e2;
}
#md_nav .container.menu_wrapper
{
	padding-top: 91px;
	padding-bottom: 11px;
}
#md_nav .navbar-header
{
	padding-top: 5px;
}
#md_nav.navbar.navbar-default
{
	border: none;
}
#md_nav .menu_wrapper, #md_nav_inverse .menu_wrapper
{
	font-size: 16px;
	line-height: 18px;
}
ul.toggle_menu
{
	list-style: none;
}
ul.menu_ul a
{
	text-decoration: none;
	list-style: none;
	display: block;
	padding: 16px 20px;
	padding: 1rem 1.25rem;
	position: relative;
}
.toggle
{
	padding: 14px 0 14px 15px;
	cursor: pointer;
}
.toggle_menu_bar
{
	display: block;
	width: 20px;
	height: 4px;
	background-color: #1e1e1e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 3px;
}
.toggle_menu_bar
{
	background-color: #66666b;
}
.navbar-default .navbar-nav>li>a:focus{color:#777777;border: none;outline: none;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .nav>li>a:hover{color:#f333333;border: none;outline: none;}
.navbar-default .navbar-nav>.active>a{color:#333333;}
.navbar-default .navbar-brand:focus, .navbar-nav>.active>a:focus{border: none;outline: none;}
#md_nav_inverse
{
	background-color: #eae7e2;
	border: none;
}
#md_nav_inverse .row
{
	background-color: #222222;
	padding-top: 11px;
	padding-bottom: 11px;
}
#md_nav_inverse .navbar-header
{
	padding-top: 5px;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{background-color: transparent;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-brand:focus{color:#999999;border: none;outline: none;}
.logo
{
	display: inline-block;
	width: 24px;
	height: 36px;
	padding-top: 7px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
}
	/* mobile menu */
#mobile-menu
{
    display: none;
}
#mobile-menu .navbar-header
{
	padding-top: 5px;
}
.navbar-inverse .navbar-toggle .icon-bar{background-color:#66666b;}
/* home */
.home
{
	color: #fff;
}
.home_bg_img
{
	width: 100%;
	height: auto;
	background: transparent url(../images/header_img.png) scroll 0 0 no-repeat;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* Safari and Chrome */
	-moz-background-size: cover; /* Firefox */
	-o-background-size: cover; /* Internet Explorer */
	background-size: cover; /* CSS3 */
	-moz-border-radius: 10px 10px 0 0; /* Firefox */
	-webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */ 
	border-radius: 10px 10px 0 0; /* CSS3 */
	border: none;
	outline: none; 
}
#home h1
{
	margin-top: 165px;
	margin-bottom: 110px;
	font-size: 40px;
	line-height: 50px;
}
	/* home social */
.social_home
{
	padding-bottom: 130px;
}
.social_home ul
{
	width: 100%;
	margin: 0 auto;
	list-style: none;
	line-height: normal;
}
.social_home ul li
{
	float: left;
	margin-right: 10px;
}
.social_home li.first
{
	padding-left: 20px;
}
.social_home li.last
{
	padding-right: 0;
}
.social_home ul li a
{	
    display: block;
    height: 29px;
    width: 30px;
	padding: 0 40px 0 40px;
}
.social_home ul li a:active
{
    background-position: left bottom;
}
.social_home ul li a:hover 
{
	 background-position: left bottom;
}
a.soc_small_twitter {background: transparent url('../images/social_small_twitter.png') no-repeat;}
a.soc_small_dribbble {background: transparent url('../images/social_small_dribbble.png') no-repeat;}
a.soc_small_insta {background: transparent url('../images/social_small_insta.png') no-repeat;}

/* services */
#services .container .row.bg_row
{
	background-color: #fff;
	color: #66666b;
}
#services h1
{
	margin-top: 100px;
	margin-bottom: 110px;
}
	/* services social */
#services ul
{
	list-style: none;
}
#services .services_social
{
    margin-left: 0px;
    margin-top: 60px;
	margin-bottom: 125px;
}
#services .services_social li.first
{
	float: left;
	padding-left: 0;
}
#services .services_social li.last
{
	float: right;
	padding-right: 0;
}

#services .services_social li
{
    display: inline-block;
	width: 21.6666667%;
	padding: 0 5px 0 5px;
}
#services .services_social li.services_separator
{
	position: relative;
	top: -105px;
	width: 10%;
}
#services .services_social li img
{
	margin-bottom: 40px;
}
#services .services_social li p
{
	font-weight: bold;
	color: #35343b;
}
/* latest work */
#latest_work h1
{
	margin-top: 100px;
	margin-bottom: 110px;
}
#latest_work .container.latest_work .row.bg_row
{
	background-color: #715387;
	color: #fff;
}
#latest_work .browser_img_frame
{
	height: 564px;
	margin-top: 5px;
	padding-left: 0;
	background: transparent url(../images/browser_frame.png) scroll 0 0 no-repeat;
}
#latest_work h3
{
	margin-top: 0;
}
	/* latest work slider */
#latest_work .caroufredsel_wrapper
{
    margin: 0 !important;
}
#latest_work .latest_work_slide
{
	padding-top: 102px;
	margin-right: 20px;
}
#latest_work ul
{
    text-align: center !important;
}
#latest_work ul li
{
    list-style: none;
}
#latest_work .pager_wrapper
{
	float: right;
	margin-top: 30px;
}
#latest_work .pager
{
    width: 105px;
}
.pager a
{
    background-image: url("../images/white_inactive_circle.png");
    background-repeat: repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -9999px;
    width: 25px;
    outline: none;
}
.pager a.selected
{
    background-image: url("../images/white_active_circle.png");
}
#latest_work .button_lwork
{
	margin-bottom: 320px;
}
#latest_work .btn-lwork-go_to
{
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #614874;
    background-image: -moz-linear-gradient(top, #614874, #614874);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#614874), to(#614874));
    background-image: -webkit-linear-gradient(top, #614874, #614874);
    background-image: -o-linear-gradient(top, #614874, #614874);
    background-image: linear-gradient(to bottom, #614874, #614874);
    background-repeat: repeat-x;
    border: none;
	font-weight: bold;
	font-size: 22px;
	line-height: 60px;
    padding-left: 63px;
    padding-right: 64px;
    margin-top: 40px;
    box-shadow: none;
}
#latest_work .btn-lwork-go_to:hover,
#latest_work .btn-lwork-go_to:active,
#latest_work .btn-lwork-go_to.active,
#latest_work .btn-lwork-go_to.disabled,
#latest_work .btn-lwork-go_to[disabled]
{    
    background-color: #B2B2B2;
    background-image: none;
}
/* about */
#about h1
{
	margin-top: 100px;
	margin-bottom: 65px;
}
#about h3
{
	margin-bottom: 0;
}
#about .container.about .row.bg_row
{
	background-color: #eac03d;
	background-image: url("../images/about_bg_img.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	color: #74622b;
}
#about .personal_details p
{
	font-weight: 300;
	line-height: 35px;
}
/* testimonials */
#testimonials .container.testimonials .row.bg_row
{
	background-color: #2bbb83;
	color: #fff;
}
#testimonials h1
{
	margin-top: 100px;
	margin-bottom: 85px;
}
.testimonials_background
{
	width: 100%;
	height: auto;
	background-image: url("../images/testimonials_bg_img.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
	/* testimonials caroufredsel */
#testimonials
{
}
#testimonials .caroufredsel_wrapper
{
	margin-top: 85px !important;
}
#testimonials ul li
{
	padding-left: 60px;
	padding-right: 60px;
    list-style: none;
}
#testimonials ul li h2
{
	text-align: center !important;
	margin-top: 0;
	margin-bottom: 30px;
}

#testimonials ul li span
{
	margin-left: 30px;
	font-weight: 300;
	line-height: 70px;
}
#testimonials .pager
{
	margin-top: 70px;
	margin-bottom: 200px;
	margin-left: 60px;
    width: 105px;
}
/* portfolio */
#portfolio .container.portfolio .row.bg_row
{
	background-color: #fff;
	padding-bottom: 150px;
}
#portfolio h1
{
	margin-top: 100px;
	margin-bottom: 65px;
}
/* portfolio galery
================================================== */
ul#filterOptions 
{
	margin-bottom: 35px;
}
ul#filterOptions li 
{
	display: inline-block;
	margin-top: 20px;  
}
ul#filterOptions li a 
{
	display: block;
	margin-right: 60px;
	height: 50px;
	font-size: 22px;
	line-height: 60px;
	color: #66666b;
	text-decoration: none;
}
ul#filterOptions li.last a 
{
	margin-right: 0px;
}
ul#filterOptions li a:hover 
{  
}
ul#filterOptions li.current a 
{
	padding: 0 20px;
	background-color: #9e9ea4;
	line-height: 50px;
	color: #eae7e2;
	vertical-align: middle;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */ 
	border-radius: 10px; /* CSS3 */
	border: none;
	outline: none;
}
	/***isotope******/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
	/**************/
.portfolio .gallery_wrapper
{
	margin-left: -20px;
	width: 800px;
}
ul.gallery_portfolio
{
	height: auto;
}
ul.gallery_portfolio li.col-md-5 

{
	padding-left: 0;
	padding-right: 0;
}
ul.gallery_portfolio li.item 
{
	float: left;
	height: auto;
	width: 380px;
	margin-left: 20px;
	margin-bottom: 10px;
	overflow: hidden; 
}
ul.gallery_portfolio li.item p
{
	position: relative;
	text-align: center;
	width: 100%;
	height: auto;
	display: block;
	line-height: 50px;
	color: #66666b;
}
ul.gallery_portfolio li.item img
{
	width: 100%;
	height: auto;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */ 
	border-radius: 10px; /* CSS3 */
	border: none;
	outline: none;
}
	/* portfolio thumbnail hover
================================================== */
.ovelay_holder
{
	position: relative;
}
.item-overlay 
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 11px;
	background-color: #e15666;
    z-index: 120;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */ 
	border-radius: 10px; /* CSS3 */
	border: none;
	outline: none;
}
.item-overlay .preview 
{
	position: absolute;
	width: 25px;
	height: 25px;
	bottom: 6%;
	right: 7%;
	background: url(../images/view_button.png) center center no-repeat;
    z-index: 110;
}
.item-overlay .preview_video 
{
	position: absolute;
	width: 25px;
	height: 25px;
	bottom: 7%;
	right: 4%;
	background: url(../images/play_button.png) center center no-repeat;
	text-indent: -9999px;
    z-index: 110;
}
.item-overlay-text
{
	margin-top: 35%;
	text-align: center;
}
.item-overlay-text a
{
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.25em;
	color: #fff;
	cursor: pointer;
	
}
/* blog */
#blog h1
{
	margin-top: 100px;
	margin-bottom: 460px;
}
#blog .container.blog .row.bg_row
{
	background-color: #e15666;
	background-image: url("../images/blog_bg_img.png");
	background-position: center top 60px;
	background-repeat: no-repeat;
	color: #eae7e2;
}
p.blog_info
{
	font-weight: 300;
	font-size: 36px;
	line-height: 50px;
	color: #75323a;
}
p.blog_personal_details
{
	color: #772e36;
}
#blog .caroufredsel_wrapper
{
}
ul.blog_slide li h4.first_blog_slide
{
	margin-top: 0;
}
ul.blog_slide h4
{
	margin-bottom: 0;
	color: #75323a;
}
ul.blog_slide p
{
	padding-bottom: 25px;
	border-bottom: 1px solid #c84e5c;
	letter-spacing: -0.02em;
	font-weight: bold;
}
#blog a
{
	color: #eae7e2;
}
#blog a:hover
{
	color: #75323a;
}
#blog a#blog-prev
{
	display: inline-block;
	margin-left: 0px !important;
	font-size: 16px;
}
#blog a#blog-next
{
	float: right;
	display: inline-block;
	font-size: 16px;
}
#blog div.slide_prev_next
{
	margin-top: 25px;
	margin-bottom: 180px;
}
/* contact */
#contact h1
{
	margin-top: 100px;
	margin-bottom: 65px;
}
.contact_wrapper .row.bg_row
{
	background-color: #a59f94;
	color: #ebebeb;
}
.contact_wrapper span
{
	font-weight: bold;
}
.contact_wrapper span.contact-info
{
	font-weight: normal;
}
#contact .contact-form{
    margin-top: 100px;    
}
#contact input[class=input-extra-large]
{
    width: 100%;
    margin-bottom: 20px;
    line-height: 30px;
    padding: 23px 22px;
	background-color: #bcb6aa;
	color: #ebebeb;
	border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
}
.input-extra-large {

}
#contact textarea{
    width: 100%;
    height: 250px;
    line-height: 30px;
    padding: 21px 20px;
	background-color: #bcb6aa;
	color: #ebebeb;
	border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#contact .btn-subscribe
{
	width: 220px;
	height: 80px;
    color: #FFFFFF;	
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #928c83;
    background-image: -moz-linear-gradient(top, #928c83, #928c83);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#928c83), to(#928c83));
    background-image: -webkit-linear-gradient(top, #928c83, #928c83);
    background-image: -o-linear-gradient(top, #928c83, #928c83);
    background-image: linear-gradient(to bottom, #928c83, #928c83);
    background-repeat: repeat-x;
    border: none;
    font-size: 22px;
    line-height: 50px;
    padding-top: 12px;
    font-weight: bold;
    margin-bottom: 175px;
    margin-top: 10px;

}
#contact .btn-subscribe:hover,
#contact .btn-subscribe:active,
#contact .btn-subscribe.active,
#contact .btn-subscribe.disabled,
#contact .btn-subscribe[disabled] {
    background-color: #bcb6aa;
    background-image: none;
	border: none;
}
/* map */
.map
{
	width: 100%;
	height: 371px;
	margin-bottom: 100px;
    background-image: url("../images/map_and_pin.png");
    background-repeat: no-repeat;
}
/* footer */
.container.footer_wrapper .row.bg_row
{
	background-color: #5f5d5a;
	color: #fff;
}
.container.footer_wrapper .social
{
    margin-top: 85px;
    margin-bottom: 80px;
}
.container.footer_wrapper .social ul
{
	width: 100%;
	height: auto;
	list-style: none;
	line-height: normal;
}
.container.footer_wrapper .social ul li
{
    display: inline-block;
    height: 54px;
    overflow: hidden;
    vertical-align: middle;
}
.container.footer_wrapper .social li.first
{
	padding-left: 20px;
}
.container.footer_wrapper .social li.last
{
	padding-right: 0;
}
.container.footer_wrapper .social li.separator img
{
    margin: 25px 35px;
}
.container.footer_wrapper .social ul li a{
	display: block;
    height: 54px;
	width: 59px;
}
.container.footer_wrapper .social ul li a:active
{
    background-position: left bottom;
}
.container.footer_wrapper .social ul li a:hover 
{
	 background-position: left bottom;
}
a.soc_large_twitter {background: transparent url('../images/social_icons_large_twitter.png') no-repeat;}
a.soc_large_pinterest {background: transparent url('../images/social_icons_large_pinterest.png') no-repeat;}
a.soc_large_facebook {background: transparent url('../images/social_icons_large_facebook.png') no-repeat;}

.container.footer_wrapper .copyright
{
	margin-bottom: 60px;
	font-size: 16px;
}
/* single post */
	/* single slider */
#single_post_slider .caroufredsel_wrapper
{
    margin: 0 !important;
}
#single_post_slider .single_post_slider
{
}
#single_post_slider .single_slider
{
	margin-left: 0;
	position: relative;
	overflow-x: hidden;
	width: auto;
}
#single_post_slider ul
{
    text-align: center !important;
}
#single_post_slider ul li
{
    list-style: none;
}
#single_post_slider ul li img
{
	width: 100% !important;
	height: auto;
    -moz-border-radius: 10px 10px 0 0; /* Firefox */
	-webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */ 
	border-radius: 10px 10px 0 0; /* CSS3 */
	border: none;
	outline: none;
}
#single_post_slider .pager_wrapper
{
	position: absolute;
	top: 88%;
	right: 20px;
}
#single_post_slider .pager
{
    width: 105px;
	margin: 0;
}
#single_post .container.single_post .row.bg_row
{
	background-color: #fff;
	color: #66666b;
}
#single_post h1
{
	margin-top: 110px;
	margin-bottom: 5px; 
	font-weight: normal;
}
#single_post p.single_info_date
{
	margin-bottom: 55px; 
	color: #b7b7b7;
}
#single_post h5
{
	margin-bottom: 60px; 
}
.sb_italic_font
{
	margin-top: 60px;
	margin-bottom: 70px;
	font-style: italic;
	font-weight: 600;
	padding-top: 0;
	padding-bottom: 0;
}
#single_post .page-header
{
	border-bottom: 3px solid #f2f2f2;
	margin-top: 60px;
	margin-bottom: 90px;
	padding-bottom: 0;
}
#single_post li.media
{
	margin-top: 40px;
}
#single_post .media-object
{
	margin-top: 5px;
}
#single_post li .comment_line
{
	padding-bottom: 35px;
	border-bottom: 1px solid #f1f1f1;
}
#single_post h2
{
	margin-top: 0;
	margin-bottom: 10px; 
	line-height: 50px;
}
#single_post .media-body
{
}
#single_post .post_info
{
	margin-bottom: 30px;
}
#single_post .media-body p
{
	font-size: 17px;
	line-height: 27px;
}
#single_post .post_info a
{
	font-size: 18px;
	letter-spacing: 0;
	color: #e15666;
}
#single_post .media-list
{
	font-size: 14px;
	letter-spacing: 0;
	padding-left: 15px;
}
#single_post .btn_read_post
{
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #C1C1C1;
    background-image: -moz-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#cfcfcf));
    background-image: -webkit-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: -o-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: linear-gradient(to bottom, #cfcfcf, #cfcfcf);
    background-repeat: repeat-x;
    border: none;
    font-size: 16px;
    line-height: 40px;
	letter-spacing: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    margin-bottom: 10px;   
    box-shadow: none;
}
#single_post .btn_read_post:hover,
#single_post .btn_read_post:active,
#single_post .btn_read_post.active,
#single_post .btn_read_post.disabled,
#single_post .btn_read_post[disabled] {    
    background-color: #66666b;
    background-image: none;
}
#single_post .input_first
{
	padding-left: 0;
}
#single_post .input_last
{
	padding-right: 0;
}
#single_post input[class=input-extra-large]
{
    width: 100%;
    margin-bottom: 20px;
    line-height: 30px;
    padding: 23px 22px;
	background-color: #ebebeb;
	color: #66666b;
	border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
}
#single_post textarea
{
    width: 100%;
    height: 250px;
    line-height: 30px;
    padding: 21px 20px;
	background-color: #ebebeb;
	color: #66666b;
	border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#single_post .btn_send_float
{
	float: right;
	margin-top: 30px;
	margin-bottom: 250px;
}
#single_post .btn_send_post
{
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #C1C1C1;
    background-image: -moz-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#cfcfcf));
    background-image: -webkit-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: -o-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: linear-gradient(to bottom, #cfcfcf, #cfcfcf);
    background-repeat: repeat-x;
    border: none;
    font-size: 18px;
    line-height: 55px;
	letter-spacing: -0.02em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
    margin-bottom: 10px;   
    box-shadow: none;
}
#single_post .btn_send_post:hover,
#single_post .btn_send_post:active,
#single_post .btn_send_post.active,
#single_post .btn_send_post.disabled,
#single_post .btn_send_post[disabled] {    
    background-color: #66666b;
    background-image: none;
}
/* @media */
@media only screen and (max-width: 991px) 
{
	#md_nav .toggle_menu, #md_nav_inverse .toggle_menu
	{
		font-size: 14px;
	}
	.toggle_menu_wrapper
	{
		margin-right: 1%;
	}
	#home h1
	{
		padding-right: 18%;
	}
	#latest_work .latest_work_slide
	{
		margin-right: -10px !important;
	}
	#latest_work .browser_img_frame
	{
		margin-bottom: 100px;
		background: transparent url(../images/full_frame.png) scroll center top no-repeat;
	}
	#latest_work .pager_wrapper
	{
		float: none;
	}
	#latest_work .pager
	{
		margin: 30px auto 0 auto;
	}
	#latest_work .button_lwork
	{
		text-align: center;
		margin-bottom: 220px;
	}
	.testimonials_background
	{
		width: 96%;
		margin-left: 2%;
		-webkit-background-size: contain; /* Safari and Chrome */
		-moz-background-size: contain; /* Firefox */
		-o-background-size: contain; /* Internet Explorer */
		background-size: contain; /* CSS3 */
	}
	#testimonials .caroufredsel_wrapper
	{
		margin-top: 40px !important;
	}
	#testimonials ul li h2
	{
		margin-bottom: 25px;
	}
	.portfolio .gallery_wrapper
	{
		margin-left: -20px;
		width: 720px;
	}
	ul.gallery_portfolio li.item 
	{
		width: 340px;
	}
	#single_post .input_first
	{
		padding-right: 0;
	}
	#single_post .input_last
	{
		padding-left: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	#services .services_social li img
	{
		width: 100%;
		height: auto;
	}
	#about .personal_details
	{
		padding-left: 10%;
	}
}

@media only screen and (max-width: 767px) 
{
	#md_nav_inverse .container.menu_wrapper
	{
		padding-top: 0;
		padding-bottom: 0;
	}
	#mobile-menu.navbar.navbar-inverse.navbar-fixed-top
	{
		border: none;
	}
	.navbar-collapse{border-top:0px;box-shadow:inset 0 0px 0 rgba(255, 255, 255, 0.1);}
	.navbar-inverse .navbar-nav>.active>a{
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	border: none;
	outline: none;
	}
	#mobile-menu
	{
		background-color: #eae7e2;
	}
	#mobile-menu .row
	{
		background-color: #403d39;
	}
	#mobile-menu .navbar-toggle
	{
		border: none;
	}
	.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{background-color: transparent;}
	#home div.home
	{
		margin-top: 50px !important;
	}
	#services .services_social li.first, #services .services_social li.last
	{
		float: none;
	}
	#services .services_social li.services_separator
	{
		display: none;
	}
	#services .services_social li
	{
		display: inline;             
	}
	#services .services_social li img
	{
		margin-bottom: 10px;
	}
	#services .services_social li p
	{
		margin-bottom: 50px;
	}
	#about .personal_details
	{
		text-align: center;
	}
	#latest_work .browser_img_frame
	{
		background-image: none;
	}
	#latest_work h1
	{
		margin-bottom: 20px;
	}
	#portfolio .container.portfolio .row.bg_row
	{
		padding-bottom: 100px;
	}
	ul.gallery_portfolio li.item p
	{ 
		font-size: 15px;
	}
	#single_post_slider .caroufredsel_wrapper
	{
		margin-top: 50px !important;
	}
	#single_post .btn_send_float
	{
		margin-bottom: 180px;
	}
	.media,.media-body{overflow: inherit;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) 
{
	#md_nav, #md_nav_inverse
	{
        display: none;
    }
    #mobile-menu
	{
        display: block;        
        margin-top: -2px;
    }
	.testimonials_background
	{
		background-image: none;
	}
	.container.footer_wrapper .social li.separator img
	{
		margin: 25px 10px;
	}
	ul#filterOptions 
	{
		text-align: center;
	}
	.portfolio .gallery_wrapper
	{
		margin-left: 0;
		width: 100%;
	}
	ul.gallery_portfolio li.item 
	{
		margin-left: 2%;
		width: 46.85714%;
	}
	#blog h1
	{
		margin-bottom: 350px;
	}
}

@media only screen and (max-width: 479px) 
{
	#md_nav, #md_nav_inverse
	{
        display: none;
    }
	#mobile-menu
	{
        display: block;        
        margin-top: -2px;
    }
	#home h1
	{
		font-size: 35px;
	}
	.social_home ul li
	{
		margin-right: 0;
	}
	.social_home ul li a
	{
		padding: 0 30px;
	}
	#latest_work .latest_work_slide
	{
		margin-right: -20px !important;
	}
	#latest_work ul li img
	{
		width: 100%;
		height: auto;
		padding-right: 10px;
	}
	#latest_work .browser_img_frame
	{
		margin-bottom: 0 !important;
	}
	#latest_work .button_lwork
	{
		margin-bottom: 150px;
	}
	.testimonials_background
	{
		background-image: none;
	}#testimonials ul li
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	#testimonials ul li p
	{
		font-size: 25px;
	}
	#testimonials ul li span
	{
		margin-left: 5px;
		font-size: 12px;
	}
	#testimonials .pager
	{
		margin-bottom: 150px;
	}
	ul#filterOptions 
	{
		text-align: center;
	}
	.portfolio .gallery_wrapper
	{
		width: 100%;
		margin-left: 0;
	}
	ul.gallery_portfolio li.item 
	{
		width: 100%;
		margin-left: 0;
	}
	#blog h1
	{
		margin-bottom: 260px;
	}
	#contact .btn-subscribe
	{
		margin-bottom: 100px;
	}
	.container.footer_wrapper .social li.separator img
	{
		display: none;
	}
	#single_post_slider .pager_wrapper
	{
		top: 85%;
	}
}

