@import url(https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.7.4/tailwind.min.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
:root {
  /* Material Colors */
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  --red-50: #ffebee;
  --red-100: #ffcdd2;
  --red-200: #ef9a9a;
  --red-300: #e57373;
  --red-400: #ef5350;
  --red-500: #f44336;
  --red-600: #e53935;
  --red-700: #d32f2f;
  --red-800: #c62828;
  --red-900: #b71c1c;
  --red-a100: #ff8a80;
  --red-a200: #ff5252;
  --red-a400: #ff1744;
  --red-a700: #d50000;
  --blue-50: #e3f2fd;
  --blue-100: #bbdefb;
  --blue-200: #90caf9;
  --blue-300: #64b5f6;
  --blue-400: #42a5f5;
  --blue-500: #2196f3;
  --blue-600: #1e88e5;
  --blue-700: #1976d2;
  --blue-800: #1565c0;
  --blue-900: #0d47a1;
  --blue-a100: #82b1ff;
  --blue-a200: #448aff;
  --blue-a400: #2979ff;
  --blue-a700: #2962ff;
  --green-50: #e8f5e9;
  --green-100: #c8e6c9;
  --green-200: #a5d6a7;
  --green-300: #81c784;
  --green-400: #66bb6a;
  --green-500: #4caf50;
  --green-600: #43a047;
  --green-700: #388e3c;
  --green-800: #2e7d32;
  --green-900: #1b5e20;
  --green-a100: #b9f6ca;
  --green-a200: #69f0ae;
  --green-a400: #00e676;
  --green-a700: #00c853;
  --yellow-50: #fffde7;
  --yellow-100: #fff9c4;
  --yellow-200: #fff59d;
  --yellow-300: #fff176;
  --yellow-400: #ffee58;
  --yellow-500: #ffeb3b;
  --yellow-600: #fdd835;
  --yellow-700: #fbc02d;
  --yellow-800: #f9a825;
  --yellow-900: #f57f17;
  --yellow-a100: #ffff8d;
  --yellow-a200: #ffff00;
  --yellow-a400: #ffea00;
  --yellow-a700: #ffd600;
  --purple-50: #f3e5f5;
  --purple-100: #e1bee7;
  --purple-200: #ce93d8;
  --purple-300: #ba68c8;
  --purple-400: #ab47bc;
  --purple-500: #9c27b0;
  --purple-600: #8e24aa;
  --purple-700: #7b1fa2;
  --purple-800: #6a1b9a;
  --purple-900: #4a148c;
  --purple-a100: #ea80fc;
  --purple-a200: #e040fb;
  --purple-a400: #d500f9;
  --purple-a700: #aa00ff;
  --white: #ffffff;
  --black: #000000;
  /* Theme Colors */
  --surface: var(--white);
  --surface-2: var(--grey-100);
  --surface-3: var(--grey-200);
  --accent: var(--grey-800);
  --accent-text: var(--white);
  --text: var(--grey-800);
  --text-accent: var(--grey-800);
  --heading: var(--black);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --shadow: 0px 2px 10px -4px var(--shadow-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

.theme-blue {
  --surface: var(--white);
  --surface-2: var(--blue-50);
  --surface-3: var(--blue-100);
  --accent: var(--blue-500);
  --text-accent: var(--blue-500);
}

.theme-red {
  --surface: var(--white);
  --surface-2: var(--red-50);
  --surface-3: var(--red-100);
  --accent: var(--red-500);
  --text-accent: var(--red-500);
}

.theme-yellow {
  --surface: var(--white);
  --surface-2: var(--yellow-50);
  --surface-3: var(--yellow-100);
  --accent: var(--yellow-800);
  --text-accent: var(--yellow-800);
}

.theme-green {
  --surface: var(--white);
  --surface-2: var(--green-50);
  --surface-3: var(--green-100);
  --accent: var(--green-400);
  --text-accent: var(--green-400);
}

.theme-purple {
  --surface: var(--white);
  --surface-2: var(--purple-50);
  --surface-3: var(--purple-100);
  --accent: var(--purple-400);
  --text-accent: var(--purple-400);
}

.theme-blue-reverse {
  --surface: var(--blue-500);
  --surface-2: var(--blue-600);
  --surface-3: var(--blue-700);
  --accent: var(--white);
  --accent-text: var(--surface);
  --heading: var(--white);
  --text: var(--white);
  --text-accent: var(--white);
}

.CardGroup {
  
  background: var(--surface-2);
  display: grid;
  grid-gap: 24px;
  padding: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
}
.CardGroup > .Card {
  grid-column-end: span 1;
}
.CardGroup > .Card[data-size=large] {
  grid-column-end: span 2;
}

.Card {
  z-index: 99 !important;
  --py: 20px;
  --px: 20px;
  background-color: var(--surface);
  color: var(--text);
  box-shadow: var(--shadow);
  border-radius: 8px;
  overflow: hidden;
  border: solid 0.5px var(--accent);
  border-bottom-width: 4px;
  display: flex;
  flex-direction: column;
}
.Card > .Card-content {
  flex-grow: 1;
}

.Card-title {
  padding: 40px var(--px) 8px;
  color: var(--surface);
  font-size: 24px;
  font-weight: 700;
}
.Card-title > span {
  display: inline;
  background: var(--accent);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  padding: 5px 8px 5px var(--px);
  margin-left: calc(var(--px) * -1);
}

.Card-content {
  padding: var(--py) var(--px);
}

.Card-action {
  padding: var(--py) var(--px);
  background-color: var(--surface-2);
  color: var(--text-accent);
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.Card-action:hover {
  background-color: var(--surface-3);
}
.Card-action > .Card-action-angle {
  flex-grow: 1;
  text-align: right;
}

.Card-notification {
  height: 24px;
  min-width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 99999px;
  padding: 0px 8px;
  background-color: var(--accent);
  color: var(--accent-text);
  margin-right: 7px;
}
