/**
 * Fun CSS exercise based on Shell_Xiao's 'Popups' shot on Dribbble:
 *
 * https://dribbble.com/shots/3334977-Popups
 */

/** Global styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  background: #fce7de;
  background-image: linear-gradient(
    to top right,
    #fdf2e2,
    #fdd8d6
  );
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  line-height: 1.5;
}

/** Grid */
.grid {
  
}
.grid-item {
  margin: 1.5rem;
}

@media (min-width: 30em) {
  .grid {
    display: flex;
    justify-content: center;
    margin-top:  2.5rem;
  }
  .grid-item {
    /* max-width: 18rem; */
  }
}

/** Card */
.card {
  background: #fbfbfb;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .055);
  padding: 1.5rem 1rem;
  text-align: center;
}
@media (min-width: 30em) {
  .card {
    /* padding: 2rem 2.5rem; */
  }
}
/** TODO: Use SVG for graphics */
.card-graphic {
  background: #fcf2d6;
  border-radius: .5rem;
  height: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 66.7%;
}
.card-title {
  font-size: 130%;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 .75rem;
}
.card-message {
  font-weight: 300;
  color: #999;
  margin: 0 0 2rem;
}
.card-button {
  background: #fc3d69;
  border: 2px solid transparent;
  border-radius: 2rem;
  color:  #fbfbfb;
  cursor: pointer;
  font-weight: 500;
  padding: .5rem 4rem;
  position: relative;
  transition-duration: 200ms;
  transition-property: background, border-color, color;
}
.card-button:before,
.card-button:after {
  color: #ffd161;
  display: inline-block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  transition-duration: 200ms;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.card-button:before {
  background: #fcf2d6;
  border-radius: 1em;
  content: '❋';
  font-size: 120%;
  padding: .05em .1em .05em .7em;
  right: .2rem;
  top: -.5rem;
  -webkit-transform: translateX(-.5em);
          transform: translateX(-.5em);
}
.card-button:after {
  bottom: -.5em;
  content: '✦';
  font-size: 150%;
  left: .2em;
  transition-delay: 25ms;
  -webkit-transform: translateX(.5em);
          transform: translateX(.5em);
}

.card-button:focus,
.card-button:hover {
  background: #DD355C;
  color: #fff;
}
.card-button:active {
  background: #BD2E4F;
  border-color: #FFBF35;
  color: #fff;
}
.card-button:active::after,
.card-button:focus::after,
.card-button:hover::after,
.card-button:active::before,
.card-button:focus::before,
.card-button:hover::before {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.card-button abbr {
  text-decoration: none;
}
