<script>
    updateTimePicker();
		</script>
<%= simple_form_for @anet_command do |f| %>
  <div class="row">
<div class="col-lg-6">
    <%= f.input :arduino_id,:label=>false,as: :hidden %>
    <%= f.input :command,:label=> t(:anet_command_line1),input_html: { class:'form-control',placeholder: t(:anet_command_line3) } %>
  
    <%= f.input :command_data,:label=> t(:anet_command_line2) ,input_html: { class:'form-control',placeholder: t(:anet_command_line4) } %>
    
    <%= t(:anet_command_line6) %>
    <div id="MySpinner" class="spinner input-group" data-min="20" data-max="240">
        <%= f.input :invoke_every,as: :string,label:false,input_html: { class:'form-control spinner-input',name:"spinner",maxlength:"3"} %>
      <div class="btn-group btn-group-vertical input-group-btn">
        <button type="button" class="btn btn-white spinner-up">
          <i class="icon-chevron-up text-muted"></i>
        </button>
        <button type="button" class="btn btn-white spinner-down">
          <i class="icon-chevron-down text-muted"></i>
        </button>
      </div>
    </div>
    </div>
<div class="col-lg-6">  
<div class="checkbox m-t-lg">
    <%= f.input :is_only_question,as: :boolean,:label=> t(:anet_command_line5) ,input_html: { class:'form-control pull-right text-uc m-t-n-xs'} %>
</div>
  
    
    
  

    
    </div>
      
      </div>
<button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs">Save now</button>     
  
<% end %>
