<h1>Listing anet_commands</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Arduino</th>
    <th>Command</th>
    <th>Is only question</th>
    <th>Is ondemand</th>
    <th>Invoke every</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anet_commands.each do |anet_command| %>
  <tr>
    <td><%= anet_command.id %></td>
    <td><%= anet_command.arduino_id %></td>
    <td><%= anet_command.command %></td>
    <td><%= anet_command.is_only_question %></td>
    <td><%= anet_command.is_ondemand %></td>
    <td><%= anet_command.invoke_every %></td>
    <td><%= link_to 'Show', anet_command %></td>
    <td><%= link_to 'Edit', edit_anet_command_path(anet_command) %></td>
    <td><%= link_to 'Destroy', anet_command, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anet command', new_anet_command_path %>
