<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @anet_command.id %>
</p>

<p>
  <b>Arduino:</b>
  <%= @anet_command.arduino_id %>
</p>

<p>
  <b>Command:</b>
  <%= @anet_command.command %>
</p>

<p>
  <b>Is only question:</b>
  <%= @anet_command.is_only_question %>
</p>

<p>
  <b>Is ondemand:</b>
  <%= @anet_command.is_ondemand %>
</p>

<p>
  <b>Invoke every:</b>
  <%= @anet_command.invoke_every %>
</p>


<%= link_to 'Edit', edit_anet_command_path(@anet_command) %> |
<%= link_to 'Back', anet_commands_path %>
