<%= simple_form_for(@earthquake) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :location %>
    <%= f.input :reportedTime %>
    <%= f.input :magnitude %>
    <%= f.input :rawData %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
