<h1>Listing earthquakes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Location</th>
    <th>Reportedtime</th>
    <th>Magnitude</th>
    <th>Rawdata</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @earthquakes.each do |earthquake| %>
  <tr>
    <td><%= earthquake.id %></td>
    <td><%= earthquake.latitude %></td>
    <td><%= earthquake.longitude %></td>
    <td><%= earthquake.location %></td>
    <td><%= earthquake.reportedTime %></td>
    <td><%= earthquake.magnitude %></td>
    <td><%= earthquake.rawData %></td>
    <td><%= link_to 'Show', earthquake %></td>
    <td><%= link_to 'Edit', edit_earthquake_path(earthquake) %></td>
    <td><%= link_to 'Destroy', earthquake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Earthquake', new_earthquake_path %>
