<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @earthquake.id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @earthquake.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @earthquake.longitude %>
</p>

<p>
  <b>Location:</b>
  <%= @earthquake.location %>
</p>

<p>
  <b>Reportedtime:</b>
  <%= @earthquake.reportedTime %>
</p>

<p>
  <b>Magnitude:</b>
  <%= @earthquake.magnitude %>
</p>

<p>
  <b>Rawdata:</b>
  <%= @earthquake.rawData %>
</p>


<%= link_to 'Edit', edit_earthquake_path(@earthquake) %> |
<%= link_to 'Back', earthquakes_path %>
