
  <section id="content">
    <div class="row m-n">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="text-center m-b-lg">
          <h1 class="h text-white animated bounceInDown">500</h1>
          
        </div>
        <div class="list-group m-b-sm bg-white m-b-lg">
          <a href="http://suitch.co" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-home text-muted"></i> Goto homepage
          </a>
           
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>Consultware<br>&copy; 2014</small>
      </p>
    </div>
  </footer>
  <!-- / footer -->
	<script src="js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.js"></script>
  <!-- app -->
  <script src="js/app.js"></script>
  <script src="js/app.plugin.js"></script>
  <script src="js/app.data.js"></script>
