<!-- .aside -->
<% current_uri = request.env['PATH_INFO'] %>
<!--    <%= current_uri  %>-->

    <aside class="bg-success dk aside-sm nav-vertical no-borders" id="nav" >
      <section class="vbox">
        <header class="nav-bar">
          <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i>
          </a>
          <a href="#" class="nav-brand" data-toggle="fullscreen">Suitch</a>
          <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
            <i class="fa fa-comments"></i>
          </a>
        </header>
        <section style="z-index:99999;">
          <div class="nav-user hidden-xs pos-rlt">            
            <div class="nav-avatar pos-rlt">
              <a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown">
                <img src="<%= session[:activeUser].avatar.to_s() %>&type=large" alt="" class="">
                <span class="caret caret-white"></span>
              </a>
              <ul class="dropdown-menu m-t-sm animated fadeInLeft">
                <span class="arrow top"></span>
                <li>
                  <a href="#">Settings</a>
                </li>
                <li>
                  <a href="profile.html">Profile</a>
                </li>
                <li>
                  <a href="#">
                    <span class="badge bg-danger pull-right">3</span>
                    Notifications
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="docs.html">Help</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              </ul>
              <div class="visible-xs m-t m-b">
                <a href="#" class="h3"><%= session[:activeUser].name %>.<%= session[:activeUser].last_name %></a>
                <p><i class="fa fa-map-marker"></i> Monterrey, MX</p>
              </div>
            </div>
            <div class="nav-msg">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="badge badge-white count-n">2</b>
              </a>
              <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                <div class="arrow left"></div>
                <section class="panel bg-white">
                  <header class="panel-heading">
                    <strong>You have <span class="count-n">2</span> notifications</strong>
                  </header>
                  <div class="list-group">
                    <a href="#" class="media list-group-item">
                      <span class="pull-left thumb-sm">
                        <img src="<%= session[:activeUser].avatar.to_s() %>&type=large" alt="John said" class="img-circle">
                      </span>
                      <span class="media-body block m-b-none">
                        Use awesome animate.css<br>
                        <small class="text-muted">28 Aug 13</small>
                      </span>
                    </a>
                    <a href="#" class="media list-group-item">
                      <span class="media-body block m-b-none">
                        1.0 initial released<br>
                        <small class="text-muted">27 Aug 13</small>
                      </span>
                    </a>
                  </div>
                  <footer class="panel-footer text-sm">
                    <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                    <a href="#">See all the notifications</a>
                  </footer>
                </section>
              </section>
            </div>
          </div>
          <nav class="nav-primary hidden-xs">
            <ul class="nav">
            <% if current_uri.index("summaries")!=nil %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
                <a href="/summaries">
                  <i class="fa fa-desktop"></i>
                  <span><%= t(:summary) %></span>
                </a>
              </li>
              
              <li <% if current_uri.index("dashboards")!=nil %>class="active"<% end %>>
                <a href="/dashboards">
                  <i class="fa fa-dashboard"></i>
                  <span><%= t(:dashboard_title) %></span>
                </a>
              </li>
            <% if current_uri.index("personal_accounts")!=nil %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
                <a href="/personal_accounts">
                  <i class="fa fa-clock-o"></i>
                  <span><%= t(:timeline) %></span>
                </a>
              </li>
            
              <!-- li <% if current_uri.index("community")!=nil %>class="active"<%end%>>
                <a href="/community">
                  <i class="fa fa-users"></i>
                  <span><%= t(:community) %></span>
                </a>
              </li -->
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-gears"></i>
                  <span><%= t(:apps_label) %></span>
                </a>
                <ul class="dropdown-menu">                
                <% @registeredInterfaces.each do |singleInterface| %>
                  <% busqueda=Api_Token_User_Interface.where("api_interface='"+singleInterface.id.to_s+"' and sys_user='"+session[:activeUser].id.to_s+"'") %>
                  <li>
                  <% if busqueda.length>0 %>
                    <a href="#modal-pair-<%= singleInterface.name.downcase.tr(" ","-") %>" data-toggle="modal"><%= singleInterface.name %><b class=" pull-right"> <i class="fa fa-check-circle-o"></i></b></a>
                  <% else %>
                    <a href="#modal-pair-<%= singleInterface.name.downcase.tr(" ","-") %>" data-toggle="modal"><%= singleInterface.name %> <b class=" pull-right"> <i class="fa fa-circle-o"></i></b></a>
                  <% end %>
                  </li>
                <% end %>
                </ul>
              </li>
              <!-- li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-phone-square"></i>
                  <span><%= t(:my_phones) %></span>
                </a>
                <ul class="dropdown-menu">
                <% telefonos=SysUserPhone.find_all_by_sys_user(session[:activeUser].id) %>
                <% telefonos.each do | singlePhone | %>
                  <% busqueda=Sys_Phone_Type.find_by_id(singlePhone.sys_phone_type) %>
                  <li>
                  
                    <a href="/sys_user_phones/<%= singlePhone.id %>/edit" data-toggle="ajaxModal" ><%= singlePhone.number %><b class=" pull-right"><i class="fa fa-<%= busqueda.ptype %>"></i></b></a>
                  </li>
                <% end %>
                  <li>
                    <a href="/devices/add_phone.html" data-toggle="ajaxModal"><%= t(:add_new) %><b class="pull-right"><i class="fa fa-plus"></i></b></a>
                  </li>
                </ul>
              </li -->
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bug"></i>
                  <span>Dispositivos</span>
                </a>
                <ul class="dropdown-menu">
                <% dispositivos=AnetDevice.find_all_by_id_owner(session[:activeUser].id) %>
                <% dispositivos.each do | singleDevice | %>
                  
                  <li>
                  
                    <a href="/anet_devices/<%= singleDevice.id %>/edit" data-toggle="ajaxModal" >
                    <%= singleDevice.location %>:<%= singleDevice.object %><b class=" pull-right">
                    <i class="fa fa-bug">
                    </i>
                    </b></a>
                  </li>
                <% end %>
                  <li>
                    <a href="/devices/add_board.html" data-toggle="ajaxModal"><%= t(:add_new_device) %><b class="pull-right"><i class="fa fa-plus"></i></b></a>
                  </li>
                  <li>
                    <a href="/devices/claim.html" data-toggle="ajaxModal">
                    <%= t(:claim_device) %><b class="pull-right">
                    <i class="fa fa-plus"></i>
                    </b></a>
                  </li>
                </ul>
              </li>

              

              <!-- li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-dot-circle-o"></i>
                  <span><%= t(:smartwatch) %></span>
                </a>
                <ul class="dropdown-menu">
                <% smartwatches=Smartwatch.find_all_by_sys_user_id(session[:activeUser].id) %>
                <% smartwatches.each do | singleWatch | %>
                   <% # busqueda=Sys_Phone_Type.find_by_id(singlePhone.sys_phone_type) %>
                  <li>
                  
                    <!-- <a href="/smartwatches/<%= singleWatch.id %>/edit" data-toggle="swajaxModal" > -->
                    <a href="/smartwatches/<%= singleWatch.id %>/edit" data-toggle="ajaxModal" >
                    <% if singleWatch.watch_type==0 %>
                    Sony Smartwatch 1
                    <% elsif singleWatch.watch_type==1 %>
                    Sony Smartwatch 2
                    <% elsif singleWatch.watch_type==2 %>
                    I'm Watch
                    <% end %>
                    <b class=" pull-right"><!-- <i class="fa fa-<%=  %>"></i> --></b></a>
                  </li>
                <% end %>
                  <li>
                    <a href="/devices/add_swatch.html" data-toggle="ajaxModal"><%= t(:add_new) %><b class="pull-right"><i class="fa fa-plus"></i></b></a>
                  </li>
                </ul>
              </li -->

              


              <li>
                <a href="https://github.com/Consultware/SuitchClient">
                  <i class="fa fa-github"></i>
                  <span>Github</span>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <i class="fa fa-credit-card"></i>
                  <span><%= t(:membership) %></span>
                </a>
              </li> -->
            </ul>
          </nav>
        </section>
        <footer class="footer bg-gradient hidden-xs">
          <a href="/logout" class="btn btn-sm btn-link m-r-n-xs pull-right">
            <i class="fa fa-power-off"></i>
          </a>
          <a href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
            <i class="fa fa-bars"></i>
          </a>

        </footer>
      </section>

    </aside>
    

    