
            <aside class="aside-lg bg-light">
              <div class="wrapper">

                 <section class="panel">
                  <header class="panel-heading">                    
                    <span class="label bg-dark"></span> <h4 class="m-t-none"><%= t(:public_devices) %></h4>
                  </header>
                  <section class="panel-body slim-scroll" data-height="650px">


                
      <%= t(:device_instructions) %> 
      <% @open_devices.each do |singleDevice| %>
      <% propertyOf=Sys_User.find_by_id(singleDevice.id_owner) %>
      <% if singleDevice.id!=1 %>
      <article class="media">
      by <%= propertyOf.name %> <%= propertyOf.last_name %>
        <a class="pull-left thumb-sm m-t-xs">
          <img src="<%= propertyOf.avatar %>" class="img-circle">
        </a>
        <div class="media-body">                        
          <a href="#" class="font-semibold">Token:<%= singleDevice.token %>, <%= singleDevice.description %>. </a>
          <div class="text-xs block m-t-xs"><i class="fa fa-clock-o"></i> <%= ((Time.now-singleDevice.updated_at)/24/3600).to_i %> <%= t(:day) %>s</div> 

           
          <%= t(:methods) %>
        <% commands=AnetCommand.where(:arduino_id=>singleDevice.id)
        commands.each do |singleCommand|
         %>
         <p><i class="fa fa-bullhorn" ></i> <%= singleCommand.command %> / <i class="fa fa-code"></i> <%= singleCommand.command_data %></p>
         <% end %>
         <button class="btn btn-white" data-toggle="button" onclick="javascript:likeit('<%= singleDevice.id%>')">
         <% if Likes.where(:device_id=>singleDevice.id,:user_liked=>session[:activeUser].id).length==0 %>
            <i class="fa fa-heart-o text"></i>
            <i class="fa fa-heart text-active text-danger"></i>
          <% else %>
          <i class="fa fa-heart-o text-active"></i>
            <i class="fa fa-heart text text-danger"></i>
          <% end %>
            <%= Likes.where(:device_id=>singleDevice.id).length %>
          </button>
          <% lastConnection = AnetLog.where(:arduino_id => singleDevice.id).order("created_at ASC").last %>
          <% if lastConnection != nil and lastConnection.connection_type == 1 %>
           <div class="pull-right text-success m-t-sm">
            <%= t(:device_online) %> <i class="fa fa-circle"></i>
          </div>
          <% else %>
          <div class="pull-right text-danger m-t-sm">
            Offline <i class="fa fa-circle"></i>
          </div>
          <% end %>
        </div>
        
      </article>
      <% end %>
      <% end %>
      


      <div class="bublaa-activity" data-forum="internet-of-things-server" data-forumurl="" data-lang=""></div>
<style type="text/css">#bublaa-activity {max-width: 500px; }</style>
<script type="text/javascript">
    (function() {
        var b = document.createElement('script');
        b.type = 'text/javascript'; b.async = true; b.src = 'http://bublaa.com/dist/plugins.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(b, s);
    })();
</script>
<noscript>Your browser does not support JavaScript. Enable JavaScript or use a browser that supports it to use bublaa.</noscript>

      </section>
                </section>
              </div>
            </aside>
            <!-- /.aside -->
          
        
