<div class="header navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN LOGO -->
				<a class="brand" href="/">
				<p class="blue">LineAccess</p>
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				 
				<!-- END RESPONSIVE MENU TOGGLER -->            
				<!-- BEGIN TOP NAVIGATION MENU -->              
				<ul class="nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->   
					
					<!-- END NOTIFICATION DROPDOWN -->
					<!-- BEGIN INBOX DROPDOWN -->
					
					<!-- END TODO DROPDOWN -->               
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<% if session[:activeUser]!=nil %>
							<img alt="" src="<%= session[:activeUser].avatar.to_s() %>&type=square" width="29" height="29" />
							<span class="username">welcome back <%= session[:activeUser].name %> <%= session[:activeUser].last_name %></span>
							<i class="icon-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/personal_accounts"><i class="icon-user"></i> My account</a></li>
							<li><a href="inbox.html"><i class="icon-envelope"></i> check this out! <span class="badge badge-important">3</span></a></li>
							<li class="divider"></li>
							<li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Full Screen</a></li>
							<li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
							
						</ul>
						<% else %>
						</a>
							
						<% end %>
						

						
					</li>
					<% if session[:activeUser]==nil %>
					<a href="/auth/facebook" class="btn red big xlarge">
													Click to log in!
													<i class="m-icon-big-swapright m-icon-white"></i>                                
													</a>
													<% end %>
					<!-- END USER LOGIN DROPDOWN -->
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU --> 
			</div>
		</div>
		</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->   
	<div class="page-container row-fluid">
		<!-- BEGIN EMPTY PAGE SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse visible-phone visible-tablet">
			<ul class="page-sidebar-menu">
				<li class="visible-phone visible-tablet">
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search">
						<div class="input-box">
							<a href="javascript:;" class="remove"></a>
							<input type="text" placeholder="Search..." />            
							<input type="button" class="submit" value=" " />
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li>
					<a class="active" href="index.html">
					Dashboard                        
					</a>
				</li>
				<li  class="active">
					<a href="javascript:;">
					Layouts
					<span class="arrow open"></span>   
					<span class="selected"></span>   
					</a>
					<ul class="sub-menu">
						<li>
							<a href="layout_horizontal_sidebar_menu.html">
							Horizontal & Sidebar Menu                     </a>
						</li>
						<li >
							<a href="layout_horizontal_menu1.html">
							Horizontal Menu 1                    </a>
						</li>
						<li >
							<a href="layout_horizontal_menu2.html">
							Horizontal Menu 2                    </a>
						</li>
						<li >
							<a href="layout_promo.html">
							Promo Page                     
							</a>
						</li>
						<li >
							<a href="layout_email.html">
							Email Templates                     </a>
						</li>
						<li >
							<a href="layout_ajax.html">
							Content Loading via Ajax</a>
						</li>
						<li >
							<a href="layout_sidebar_closed.html">
							Sidebar Closed Page                    </a>
						</li>
						<li >
							<a href="layout_blank_page.html">
							Blank Page                    </a>
						</li>
						<li >
							<a href="layout_boxed_page.html">Boxed Page</a>
						</li>
						<li >
							<a href="layout_boxed_not_responsive.html">
							Non-Responsive Boxed Layout                     </a>
						</li>
						<li >
							<a href="layout_blank_page.html">
							Blank Page                    </a>
						</li>
						<li>
							<a href="javascript:;">
							More options
							<span class="arrow"></span>
							</a>
							<ul class="sub-menu">
								<li><a href="#">Second level link</a></li>
								<li>
									<a href="javascript:;">More options<span class="arrow"></span></a>
									<ul class="sub-menu">
										<li><a href="index.html">Third level link</a></li>
										<li><a href="index.html">Third level link</a></li>
										<li><a href="index.html">Third level link</a></li>
										<li><a href="index.html">Third level link</a></li>
										<li><a href="index.html">Third level link</a></li>
									</ul>
								</li>
								<li><a href="index.html">Second level link</a></li>
								<li><a href="index.html">Second level link</a></li>
								<li><a href="index.html">Second level link</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="">Tables</a>
				</li>
				<li>
					<a href="">Extra
					<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li><a href="index.html">About Us</a></li>
						<li><a href="index.html">Services</a></li>
						<li><a href="index.html">Pricing</a></li>
						<li><a href="index.html">FAQs</a></li>
						<li><a href="index.html">Gallery</a></li>
						<li><a href="index.html">Registration</a></li>
						<li><a href="index.html">2 Columns (Left)</a></li>
						<li><a href="index.html">2 Columns (Right)</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- END EMPTY PAGE SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content no-min-height">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div id="portlet-config" class="modal hide">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"></button>
					<h3>portlet Settings</h3>
				</div>
				<div class="modal-body">
					<p>Here will be a configuration form</p>
				</div>
			</div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid promo-page">
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
						<div class="block-grey">
							<div class="container">
								<div id="promo_carousel" class="carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<div class="row-fluid">
												<div class="span7 margin-bottom-20 margin-top-20 animated rotateInUpRight">
													<h1>Welcome to LineAccess...</h1>
													<p>LineAccess gives you access to the cloud using your phone line.</p>
													<p>This app is design to use around the world with your traditional land line, mobile and VoIP (Skype)</p>
													<a href="index.html" class="btn red big xlarge">
													Take a tour
													<i class="m-icon-big-swapright m-icon-white"></i>                                
													</a>
												</div>
												<div class="span5 animated rotateInDownLeft">
													<a href="index.html"><img src="assets/img/pages/img1.png" alt=""></a>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="row-fluid">
												<div class="span5 animated rotateInUpRight">
													<a href="index.html"><img src="assets/img/pages/img1_2.png" alt=""></a>
												</div>
												<div class="span7 margin-bottom-20 animated rotateInDownLeft">
													<h1>Register your free LineAccess account...</h1>
													<p>LineAccess help to correct some of those flaws or features missing, giving you more control over the social netowork and Gmail ecosystem. From scheduling the voice apps, this app will turn you into a virtual assistant.</p>
													<p>Let us know your favorite apps in the comments below.</p>
													<a href="index.html" class="btn green big xlarge">
													But it today
													<i class="m-icon-big-swapright m-icon-white"></i>                                
													</a>
												</div>
											</div>
										</div>
									</div>
									<a class="carousel-control left" href="#promo_carousel" data-slide="prev">
									<i class="m-icon-big-swapleft m-icon-white"></i>
									</a>
									<a class="carousel-control right" href="#promo_carousel" data-slide="next">
									<i class="m-icon-big-swapright m-icon-white"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="block-yellow">
							<div class="container">
								<div class="row-fluid">
									<div class="span5 margin-bottom-20">
										<a href="index.html"><img src="images/line_access.jpg" alt=""></a>
									</div>
									<div class="span4">
										<h2>Subscribe</h2>
										<p>Use your facebook account to subscribe to our service.</p>
										<form class="form-search" action="#">
											<div class="input-append">
												<input id="userPhoneNumber" type="text" class="m-wrap" placeholder="10 digit phone number"><!-- <button type="button" class="btn blue" onclick="verifyNumber()">Login with facebook!</button> -->
												<a href="#" onclick="verifyNumber()" role="button" class="btn blue btn-danger" data-toggle="modal">Login with facebook!</a>
												
											</div>
										</form>
									</div>
									<div class="span7">
										<h2>Use your facebook account to login</h2>
										<p>Enter your credentials to access to the first Line app</p>
										<p>This is a great application to use on the line</p>
										<a href="index.html" class="btn blue big xlarge">
										Learn more
										<i class="m-icon-big-swapright m-icon-white"></i>                                
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="block-transparent">
							<div class="container">
								<div class="row-fluid margin-bottom-20">
									<div class="span6 margin-bottom-20">
										<h2>Interactive dashboard</h2>
										<p>Simple and clean dashboard <a href="#">(Check out this example)</a> Use your account to activate and use social network applications, email and chat with your facebook friends..</p>
										<p>Panel and windows powerfull, you can do anything using the Web App</a> Accessing form iPhone, android and PC.</p>
									</div>
									<div class="span6 margin-bottom-20">
										<a href="index.html"><img src="assets/img/pages/img3.png" alt=""></a>
									</div>
								</div>
								<div class="row-fluid">
									<div class="span6">
										<a href="index.html"><img src="assets/img/pages/img4.png" alt=""></a>
									</div>
									<div class="span6 margin-bottom-20">
										<h2>Use this virtual assistant around the world...</h2>
										<p>The Line App can potentially make a twitt and write on the facebook wall more discoverable and approachable with using the voice to say the simple commands to do anything. Luckily,  you are in the right way, the alienated, this is an alternative Twitter and facebook app without using the internet to access to them. These are some of our favorites apps (Twitter, Facebook, Gmail and Translate), the ones we consider the very best.</p>
										<p><a href="#"></a></p>
									</div>
								</div>


								<div class="portlet">
							<div class="portlet-title">
								<div class="caption"><i class="icon-cogs"></i>Pricing Tables</div>
								<div class="tools">
									<a href="javascript:;" class="collapse"></a>
									<a href="#portlet-config" data-toggle="modal" class="config"></a>
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row-fluid">
									<!-- Pricing -->
									<div class="row-fluid margin-bottom-40">
										<div class="span3 pricing hover-effect">
											<div class="pricing-head">
												<h3>Be social free <span>Simple account</span></h3>
												<h4><i>$</i>0<i>.00</i> <span>Per Month</span></h4>
											</div>
											<ul class="pricing-content unstyled">
												<li><i class="icon-tags"></i> Get 120 days free</li>
												<li><i class="icon-asterisk"></i> No Support</li>
												<li><i class="icon-heart"></i> Twitter, Facebook and chat</li>
												<li><i class="icon-star"></i> Virtual assistant include with IA</li>
												<li><i class="icon-shopping-cart"></i>Paypal</li>
											</ul>
											<div class="pricing-footer">
												<p>You are going to listen commercial EVERY call that you are doing.</p>
												<a href="#" class="btn green">
												Sign Up <i class="m-icon-swapright m-icon-white"></i>
												</a>  
											</div>
										</div>
										<div class="span3 pricing hover-effect">
											<div class="pricing-head">
												<h3>Be Social<span>The first level</span></h3>
												<h4><i>$</i>9<i>.99</i> <span>Per Month</span></h4>
											</div>
											<ul class="pricing-content unstyled">
												<li><i class="icon-tags"></i> Social applications</li>
												<li><i class="icon-asterisk"></i> Email Support</li>
												<li><i class="icon-heart"></i> Twitter, Facebook, Gmail and chat facebook</li>
												<li><i class="icon-star"></i> Virtual assistant include with IA</li>
												<li><i class="icon-shopping-cart"></i> Paypal</li>
											</ul>
											<div class="pricing-footer">
												<p></p>
												<a href="#" class="btn green">
												Sign Up <i class="m-icon-swapright m-icon-white"></i>
												</a>  
											</div>
										</div>
										<div class="span3 pricing pricing-active hover-effect">
											<div class="pricing-head pricing-head-active">
												<h3>Entrepreneur <span>Enterprise level</span></h3>
												<h4><i>$</i>14<i>.99</i> <span>Per Month</span></h4>
											</div>
											<ul class="pricing-content unstyled">
												<li><i class="icon-tags"></i> Enterprise applications</li>
												<li><i class="icon-asterisk"></i> No Support</li>
												<li><i class="icon-heart"></i> Twitter, Facebook, Gmail, Linkedin, Translator and Chat Facebook </li>
												<li><i class="icon-star"></i> Virtual assistant include with IA</li>
												<li><i class="icon-shopping-cart"></i> Paypal</li>
											</ul>
											<div class="pricing-footer">
												<p></p>
												<a href="#" class="btn green">
												Sign Up <i class="m-icon-swapright m-icon-white"></i>
												</a>  
											</div>
										</div>
										<div class="span3 pricing hover-effect">
											<div class="pricing-head">
												<h3>Entrepreneur Pro<span></span></h3>
												<h4><i>$</i>39<i>.99</i> <span></span></h4>
											</div>
											<ul class="pricing-content unstyled">
												<li><i class="icon-tags"></i> Enterprise applications</li>
												<li><i class="icon-asterisk"></i> Support by Email</li>
												<li><i class="icon-heart"></i> Twitter, Facebook, Gmail, Linkedin, Translator and Chat Facebook</li>
												<li><i class="icon-star"></i> Bilingual virtual assistant include with IA</li>
												<li><i class="icon-shopping-cart"></i> Paypal</li>
											</ul>
											<div class="pricing-footer">
												<p></p>
												<a href="#" class="btn green">
												Sign Up <i class="m-icon-swapright m-icon-white"></i>
												</a>  
											</div>
										</div>
									</div>
									<!--/row-fluid-->
									<!--//End Pricing -->
								</div>
							</div>
						</div>



								<hr>
								<div class="row-fluid">
									<div class="span3">
										<h3><a href="#">Multiple accounts</a></h3>
										<p>Post to your Facebook, Twitter, Google+, LinkedIn  accounts easily and quickly using your voice</p>
									</div>
									<div class="span3">
										<h3><a href="#">View your whole activities on text</a></h3>
										<p>You can review all the history voice activity on text on your profile LineAccess</p>
									</div>
									<div class="span3">
										<h3><a href="#">Speaks to you bilingual virtual assistant</a></h3>
										<p>You have a billingual virtual assistant for 24/7</p>
									</div>
									<div class="span3">
										<h3><a href="#">In your browser, on the go</a></h3>
										<p>Very friendly WebApp with your PC, iPhone & Android</p>
									</div>
								</div>
							</div>
						</div>
						<div class="block-footer">
							<div class="container">
								<div class="row-fluid">
									<div class="span4">
										<h3>Subscribe</h3>
										<p>Subscribe to newsletter. Keep an ear to the ground. Register for the newsletter providing the latest information and for our customer web page.</p>
										<form class="form-search" action="#">
											<div class="input-append">
												<input type="text" class="m-wrap" placeholder="Email Address"><button type="button" class="btn blue">GO!</button>
											</div>
										</form>
									</div>
									<div class="span4">
										<h3>Photo Stream</h3>
										<ul class="unstyled blog-images">
											<li><a href="#"><img src="assets/img/blog/1.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/2.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/3.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/4.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/5.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/6.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/8.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/10.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/11.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/1.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/2.jpg" alt=""></a></li>
											<li><a href="#"><img src="assets/img/blog/7.jpg" alt=""></a></li>
										</ul>
									</div>
									<div class="span4">
										<h3>Stay Tuned</h3>
										<ul class="social-icons">
											<li><a href="#" data-original-title="amazon" class="amazon"></a></li>
											<li><a href="#" data-original-title="behance" class="behance"></a></li>
											<li><a href="#" data-original-title="blogger" class="blogger"></a></li>
											<li><a href="#" data-original-title="deviantart" class="deviantart"></a></li>
											<li><a href="#" data-original-title="dribbble" class="dribbble"></a></li>
											<li><a href="#" data-original-title="dropbox" class="dropbox"></a></li>
											<li><a href="#" data-original-title="facebook" class="facebook"></a></li>
											<li><a href="#" data-original-title="forrst" class="forrst"></a></li>
											<li><a href="#" data-original-title="github" class="github"></a></li>
											<li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
											<li><a href="#" data-original-title="jolicloud" class="jolicloud"></a></li>
											<li><a href="#" data-original-title="last-fm" class="last-fm"></a></li>
											<li><a href="#" data-original-title="linkedin" class="linkedin"></a></li>
											<li><a href="#" data-original-title="picasa" class="picasa"></a></li>
											<li><a href="#" data-original-title="pintrest" class="pintrest"></a></li>
											<li><a href="#" data-original-title="rss" class="rss"></a></li>
											<li><a href="#" data-original-title="skype" class="skype"></a></li>
											<li><a href="#" data-original-title="spotify" class="spotify"></a></li>
											<li><a href="#" data-original-title="stumbleupon" class="stumbleupon"></a></li>
											<li><a href="#" data-original-title="tumblr" class="tumblr"></a></li>
											<li><a href="#" data-original-title="twitter" class="twitter"></a></li>
											<li><a href="#" data-original-title="vimeo" class="vimeo"></a></li>
											<li><a href="#" data-original-title="wordpress" class="wordpress"></a></li>
											<li><a href="#" data-original-title="xing" class="xing"></a></li>
											<li><a href="#" data-original-title="yahoo" class="yahoo"></a></li>
											<li><a href="#" data-original-title="youtube" class="youtube"></a></li>
											<li><a href="#" data-original-title="vk" class="vk"></a></li>
											<li><a href="#" data-original-title="instagram" class="instagram"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
		<!-- END PAGE CONTAINER--> 
	</div>
	<!-- END PAGE --> 
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER1 -->
	<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" >
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
														<h3 id="myModalLabel2">Ooops!</h3>
													</div>
													<div class="modal-body">
														<p>Hey there! you need to provide a phone number so we can receive calls from you :D</p>
													</div>
													<div class="modal-footer">
														<button data-dismiss="modal" class="btn green">OK</button>
													</div>
												</div>
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
				2013 &copy; LineAccess by Consultware.
			</div>
			<div class="footer-tools">
				<span class="go-top">
				<i class="icon-angle-up"></i>
				</span>
			</div>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   <script src="assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/excanvas.min.js"></script>
	<script src="assets/plugins/respond.min.js"></script>  
	<![endif]-->   
	<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<script src="assets/scripts/app.js"></script>      
	<script>
		jQuery(document).ready(function() {    
		   App.init();
		   jQuery('#promo_carousel').carousel({
		      interval: 10000,
		      pause: 'hover'
		   });
		});
	</script>
