
  <div class="section header">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 company-column">
          <div class="company-title">Lineacess</div>
        </div>
        <div class="w-col w-col-8 nav-bar"><a class="nav-link" href="#page-nav-Section 1" target="_self">Info</a><a class="nav-link" href="#page-nav-Section-2" target="_self">Planes</a><a class="nav-link" href="#page-nav-Section-3" target="_self">Registrate</a><a class="nav-link sign-up"
          href="auth/facebook" target="_blank">Inicia Sesión</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="hero-bg">
      <div class="w-container">
        <h1 id="page-nav-Section-1">La manera de comunicarte!</h1>
        <div class="subtitle">Una gran herramienta para tu tiempo.</div>
      </div>
    </div>
  </div>
  <div class="section"></div>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h4>Caracteristicas</h4>
          <div class="section-description">Lo más destacado</div>
        </div>
        <div class="w-col w-col-6 right-col"><a class="more-link" href="#" target="_self">Ver más</a>
        </div>
      </div>
      <div class="w-row snippet-row">
        <div class="w-col w-col-4 w-clearfix">
          <a class="w-clearfix w-inline-block snippet" href="#">
            <img class="example-image" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <div class="snippet-text-section">
              <div class="snippet-title">Title</div>
              <div class="snippet-text">This is some description text for whatever.</div>
            </div>
          </a>
        </div>
        <div class="w-col w-col-4">
          <a class="w-clearfix w-inline-block snippet" href="#">
            <img class="example-image" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <div class="snippet-text-section">
              <div class="snippet-title">Title</div>
              <div class="snippet-text">This is some description text for whatever.</div>
            </div>
          </a>
        </div>
        <div class="w-col w-col-4">
          <a class="w-clearfix w-inline-block snippet" href="#">
            <img class="example-image" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <div class="snippet-text-section">
              <div class="snippet-title">Title</div>
              <div class="snippet-text">This is some description text for whatever.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey">
    <div class="w-container">
      <div class="w-row secondary-row">
        <div class="w-col w-col-8 w-col-small-6">
          <h4>Empieza ahora mismo</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
            id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
        <div class="w-col w-col-4 w-col-small-6 button-column">
          <input class="w-input" type="text" placeholder="Número de Teléfono" name="field" required="required" id="userPhoneNumber"></input><a class="button" href="javascript:evernoteToken()">Inscribirme</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 left-footer-col">
          <div class="footer-text">© Consultware de México S. de R.L de C.V. . Todos los derechos reservados.</div>
        </div>
        <div class="w-col w-col-6 footer-nav-bar"><a class="footer-link" href="#">Privacidad</a><a class="footer-link" href="#">Legal</a><a class="footer-link" href="#">Planes</a>
        </div>
      </div>
    </div>
  </div>
