
<html>
<head>
	<title>Suitch</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">       
	<meta name="description" content="">
	<meta name="author" content="Suitch">
	<meta charset="utf-8">

	<link rel="shortcut icon" href="images/favicon.png">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="css/prettyPhoto.css">

	<link type="text/css" rel="stylesheet" href="css/style.css">
	
	<script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.myHint.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/libs/jquery.prettyphoto-3.1.5/jquery.prettyphoto.js"></script>
	<script type="text/javascript" src="js/libs/modernizr-2.6.2/modernizr.min.js"></script>
	<script type="text/javascript" src="js/libs/jquery.dryMenu/jquery.dryMenu.js"></script>

</head>
   <body>
	  
<table class="doc-loader">
			<tr>
				<td>
					<img src="images/loader.gif" alt="Loading..." />
				</td>
			</tr>
		</table>
		<div id="nav_wrapper">	    	
			<div id="md_nav" class="navbar navbar-default" role="navigation">
				<div class="navbar-inner">
					<div class="container menu_wrapper">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<div class="navbar-header header_pax">
									<a class="navbar-brand logo" href="#"></a>
								</div>
								<div class="toggle_menu_wrapper pull-right">
									<ul class="toggle_menu">
										<li class="toggle pull-right">
											<span class="toggle_menu_bar"></span>
											<span class="toggle_menu_bar"></span>
											<span class="toggle_menu_bar"></span>
										</li>
									</ul>
								</div>
								<div class="collapse navbar-collapse">
									<ul class="nav navbar-nav menu_ul pull-right">
										<li class="active"><a href="#home">Inicio</a></li>
										<li><a href="#services">Servicios</a></li>
										<li><a href="#latest_work">Lo nuevo</a></li>
										<!-- <li><a href="#about">Acerca</a></li> -->
										<!-- <li><a href="#portfolio">Portfolio</a></li> -->
										<!-- <li><a href="#blog">Blog</a></li> -->
										<li><a href="#contact">Contacto</a></li>
										<li><a href="/login">Iniciar sesión</a></li>
									</ul>
								</div><!--/.nav-collapse -->
							</div>
						</div>
					</div><!-- /.container -->
				</div>
			</div>
				
			<div id="md_nav_inverse" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-inner">
					<div class="container menu_wrapper">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<div class="navbar-header header_pax">
									<a class="navbar-brand logo" href="#"></a>
								</div>
								<div class="toggle_menu_wrapper pull-right">
									<ul class="toggle_menu">
										<li class="toggle pull-right">
											<span class="toggle_menu_bar"></span>
											<span class="toggle_menu_bar"></span>
											<span class="toggle_menu_bar"></span>
										</li>
									</ul>
								</div>
								<div class="collapse navbar-collapse">
									<ul class="nav navbar-nav menu_ul pull-right">
										<li><a href="#home">Inicio</a></li>
										<li><a href="#services">Servicios</a></li>
										<li><a href="#latest_work">Lo nuevo</a></li>
										<!-- <li><a href="#about">Acerca</a></li> -->
										<!-- <li><a href="#portfolio">Portfolio</a></li> -->
										<!-- <li><a href="#blog">Blog</a></li> -->
										<li><a href="#contact">Contacto</a></li>
										<li><a href="/login">Iniciar sesión</a></li>
									</ul>
								</div><!--/.nav-collapse -->
							</div>
						</div>
					</div><!-- /.container -->
				</div>
			</div>
			
			<div id="mobile-menu" class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-1 col-md-10 mob_nav">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="navbar-header header_pax">
									<a class="navbar-brand logo" href="#"></a>
								</div>
							</div>
							<div class="collapse navbar-collapse">
							  <ul class="nav navbar-nav">
								<li class="active"><a href="#home">Inicio</a></li>
								<li><a href="#services">Servicios</a></li>
								
								<li><a href="#latest_work">Lo nuevo</a></li>
								<li><a href="#contact">Contacto</a></li>
								<li><a href="/login">Iniciar sesión</a></li>
							  </ul>
							</div><!--/.nav-collapse -->
						</div>
					</div>
				</div>
			</div>
		</div><!--/.nav_wrapper -->
		
		<div id="wrapper">
			
			<section class="section" id="home">
				<div class="container">
					<div class="home home_bg_img">
						<div class="row">
							<div class="col-md-offset-1 col-md-7">
								<h1>
									<%= t(:homepage_top_header) %>
								</h1>
							</div>
							<div class="col-md-offset-1 col-md-4 social_home">
								<ul>
									<li class="first"><a href="#" target="_blank" class="soc_small_twitter"></a></li>
									<li><a href="#" target="_blank" class="soc_small_dribbble"></a></li>
									<li class="last"><a href="#" target="_blank" class="soc_small_insta"></a></li>
								</ul>
							</div>
						</div>
					</div><!-- /.home -->
				</div><!-- /.container -->
			</section><!-- /section -->
			<section class="section" id="portfolio">
				<div class="container portfolio">
					<div class="row bg_row">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<h1>
								<%= t(:homepage_section1_title) %>
									
								</h1>
							</div>
						</div><!-- /.row -->
						<div class="col-md-offset-1 col-md-10">                
							<div class="row">
								<ul id="filterOptions">
									<li class="all current"><a href="#" data-filter="*"><%= t(:homepage_section1_all) %></a></li>
									<li><a href="#" data-filter=".photos"><%= t(:homepage_section1_home) %></a></li>
									<li><a href="#" data-filter=".videos"><%= t(:homepage_section1_office) %></a></li>
									<li><a href="#" data-filter=".web"><%= t(:homepage_section1_industrial) %></a></li>
								</ul>
							</div><!-- /.row -->
						</div>
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<div class="gallery_wrapper">
									<ul class="gallery_portfolio">
										<li class="col-md-5 item photos first">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_01.png" alt="portfolio_image_01" />
												<div class="item-overlay">
													<div class="preview"></div>
													<div class="item-overlay-text">
														<a href="images/portfolio/originals/large_image_01.jpg" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_outlet) %></a>
													</div>					
												</div>
											</div>
											<p><%= t(:homepage_section1_product_outlet_desc) %></p>
										</li>
										<li class="col-md-5 item videos">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_02.png" alt="portfolio_image_02" />
												<div class="item-overlay">
													<div class="preview_video"></div>
													<div class="item-overlay-text">
														<a href="https://vimeo.com/1185749" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_doorbel) %></a>
													</div>
												</div>
											</div>
											<p><%= t(:homepage_section1_product_doorbell_desc) %></p>
										</li>
										<li class="col-md-5 item photos">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_03.png" alt="portfolio_image_03" />
												<div class="item-overlay">
													<div class="preview"></div>
													<div class="item-overlay-text">
														<a href="images/portfolio/originals/large_image_03.jpg" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_ir) %></a>
													</div>					
												</div>
											</div>
											<p><%= t(:homepage_section1_product_ir_desc) %></p>
										</li>	
										<li class="col-md-5 item videos">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_04.png" alt="portfolio_image_04" />
												<div class="item-overlay">
													<div class="preview_video"></div>
													<div class="item-overlay-text">
														<a href="https://vimeo.com/1185749" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_mechanical) %></a>
													</div>
												</div>
											</div>
											<p><%= t(:homepage_section1_product_mechanical_desc) %></p>
										</li>   
										<li class="col-md-5 item videos">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_04.png" alt="portfolio_image_04" />
												<div class="item-overlay">
													<div class="preview_video"></div>
													<div class="item-overlay-text">
														<a href="https://vimeo.com/1185749" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_complex) %></a>
													</div>
												</div>
											</div>
											<p><%= t(:homepage_section1_product_complex_desc) %></p>
										</li>   
										<li class=" col-md-5 item web">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_05.png" alt="portfolio_image_05" />
												<div class="item-overlay">
													<div class="preview"></div>
													<div class="item-overlay-text">
														<a href="images/portfolio/originals/large_image_05.jpg" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_camera) %></a>
													</div>					
												</div>
											</div>
											<p><%= t(:homepage_section1_product_camera_desc) %></p>
										</li>
										<li class="col-md-5 item logos">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_06.png" alt="portfolio_image_06" />
												<div class="item-overlay">
													<div class="preview"></div>
													<div class="item-overlay-text">
														<a href="images/portfolio/originals/large_image_06.jpg" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_movement) %></a>
													</div>
												</div>
											</div>
											<p><%= t(:homepage_section1_product_movement_desc) %></p>
										</li>
										<li class="col-md-5 item logos">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_06.png" alt="portfolio_image_06" />
												<div class="item-overlay">
													<div class="preview"></div>
													<div class="item-overlay-text">
														<a href="images/portfolio/originals/large_image_06.jpg" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_temperature) %></a>
													</div>
												</div>
											</div>
											<p><%= t(:homepage_section1_product_temperature_desc) %></p>
										</li>
										<li class="col-md-5 item logos">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_06.png" alt="portfolio_image_06" />
												<div class="item-overlay">
													<div class="preview"></div>
													<div class="item-overlay-text">
														<a href="images/portfolio/originals/large_image_06.jpg" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_valve) %></a>
													</div>
												</div>
											</div>
											<p><%= t(:homepage_section1_product_valve_desc) %></p>
										</li>
										<li class="col-md-5 item logos">
											<div class="ovelay_holder">
												<img src="images/portfolio/thumbs/small_image_06.png" alt="portfolio_image_06" />
												<div class="item-overlay">
													<div class="preview"></div>
													<div class="item-overlay-text">
														<a href="images/portfolio/originals/large_image_06.jpg" data-rel="prettyPhoto[portfolio]"><%= t(:homepage_section1_product_lock) %></a>
													</div>
												</div>
											</div>
											<p><%= t(:homepage_section1_product_lock_desc) %></p>
										</li>
									 </ul>
								</div><!-- /.gallery_wrapper -->
							</div>
						</div><!-- /.row -->
					</div><!-- /.row bg_row -->
				</div><!-- /.container -->
			</section><!-- /section -->
			
			<section class="section" id="about">
				<div class="container about">
					<div class="row bg_row">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<h1>
								<%= t(:homepage_section2_title) %>
								</h1>
							</div>
							<div class="col-md-offset-1 col-md-11">
								<h3>
								<%= t(:homepage_section2_subtitle1) %>
								</h3>
							</div>
							<div class="col-md-offset-1 col-md-6">
								<p>
								<%= t(:homepage_section2_subtitle2) %>
								</p>
							</div>
						</div><!-- /.row -->
						<div class="row personal_details m_top_50">
							<div class="col-md-offset-1 col-md-2">
								<img src="images/homekit-logo.png" alt="About as img" style="width:150px">
							</div>
							<div class="col-md-4">
								<h3>
									<%= t(:homepage_section2_homekit_title) %>
								</h3>
									<p><%= t(:homepage_section2_homekit_desc) %></p>
							</div>
						</div><!-- /.row -->
						<div class="row personal_details m_top_30">
							<div class="col-md-offset-1 col-md-2">
								<img src="images/assistant-logo.png" alt="About as img" style="width:150px">
							</div>
							<div class="col-md-4">
								<h3>
								<%= t(:homepage_section2_google_title) %>
								</h3>
								<p><%= t(:homepage_section2_google_desc) %></p>
							</div>
						</div><!-- /.row -->
						<div class="row personal_details m_top_30 m_bottom_65">
							<div class="col-md-offset-1 col-md-2">
								<img src="images/alexa-logo.png" alt="About as img" style="width:150px">
							</div>
							<div class="col-md-4">
								<h3>
								<%= t(:homepage_section2_alexa_title) %>
								</h3>
								<p><%= t(:homepage_section2_alexa_desc) %></p>
							</div>
						</div><!-- /.row -->
					</div><!-- /.row bg_row -->
				</div><!-- /.container -->
			</section><!-- /section -->
			<section class="section" id="latest_work">
				<div class="container latest_work">
					<div class="row bg_row">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<h1>
								<%= t(:homepage_section3_title) %>
								</h1>
							</div>
						</div><!-- /.row -->
						<div class="row">
							<div class="col-md-7 browser_img_frame">
								<div class="latest_work_slide">
									<ul>                            
										<li>
										   <img src="images/slider_img/latest_work_img_1.jpg" alt="First slide">
										</li>
										<li>
											<img src="images/slider_img/latest_work_img_2.jpg" alt="Second slide">
										</li>
										<li>
											<img src="images/slider_img/latest_work_img_3.jpg" alt="Third slide">
										</li>
									</ul>
								</div>
								<div class="pager_wrapper text-center">
									<div class="pager"></div>
								</div>
							</div>
							<div class="col-md-4">
								<h3><%= t(:homepage_section3_content1) %></h3>
								<p>
								<%= t(:homepage_section3_content2) %>
								</p>
								<p class="m_top_30">
								<%= t(:homepage_section3_content3) %>
								</p>
							</div>
							<div class="col-md-3 button_lwork">
								<a href="#portfolio" class="btn btn-lg btn-lwork-go_to">Portfolio</a>
							</div>
						</div><!-- /.row -->
					</div><!-- /.row bg_row -->
				</div><!-- /.container -->
			</section><!-- /section -->
			<section class="section" id="testimonials">
				<div class="container testimonials">
					<div class="row bg_row">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<h1>
									Vivamus nellt nesste elementum se semper nisi nulla anean este vulput ater
								</h1>
							</div>
						</div><!-- /.row -->
						<div class="row testimonials_background">
							<div class="col-md-offset-1 col-md-10">
								<ul>                            
									<li>
										<h2>
											The difference between a Designer and Developer, when it comes to design skills, is the difference between shooting a bullet and throwing it.
										</h2>
										<img src="images/profile_img.png" alt="Profile img">
										<span>— SCOTT HANSELMAN	</span>
									</li>
									<li>
										<h2>
											Design is the contrast of the core of limitations therefore there are no boundaries. 
											It is simply an interpretation of creativity. 
										</h2>
										<img src="images/profile_img.png" alt="Profile img">
										<span>— JENAIHA WOODS</span>
									</li>
									<li>
										<h2>
											We work with individuals and businesses of all sizes 
											to bring ideas to life through  awesome &amp; super-cool design solutions.
										</h2>
										<img src="images/profile_img.png" alt="Profile img">
										<span>— SCOTT WOODS</span>
									</li>
								</ul>
								<div class="pager"></div>
							</div>
						</div><!-- /.row -->
					</div><!-- /.row bg_row -->	
				</div><!-- /.container -->
			</section><!-- /section -->
			
			<section class="section" id="services">
				<div class="container">
					<div class="row bg_row">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<h1>
									Proveemos un dispositivo para conectar tus aparatos eléctricos de tu hogar,oficina o industria a la nube.
								</h1>
							</div>
							<div class="col-md-offset-1 col-md-11">
								<h3>
									Enchufa, Sincroniza y Conecta
								</h3>
							</div>
							<div class="col-md-offset-1 col-md-5">
								<p>
									El Widget de automatización Wifi para el control de electricidad para el hogar y la oficina
								</p>
							</div>
							<div class="col-md-5">
								<p>
									Toma ventaja de Suitch y mejora la condición de tu consumo de electricidad reduciendo costos
								</p>
							</div>
						</div><!-- /.row -->
						<div class="row">
							<!-- services_social -->
							<div class="col-md-offset-1 col-md-10">
								<ul class="services_social text-center">
									<li class="first">
										<img src="images/communication_icon.png" alt="icon"/>
										<p>Comunicación</p>
									</li>
									<li class="services_separator">
										<img src="images/services_separator.png" alt="___"/>
									</li>
									<li>
										<img src="images/idea_icon.png" alt="icon"/>
										<p>Iluminaciñon</p>
									</li>
									<li class="services_separator">
										<img src="images/services_separator.png" alt="___"/>
									</li>
									<li class="last">
										<img src="images/delivery_icon.png" alt="icon"/>
										<p>Programación</p>
									</li>
								</ul>
							</div>
						</div><!-- /.row -->
					</div><!-- /.row bg_row -->
				</div><!-- /.container -->
			</section><!-- /section -->
			<section class="section" id="blog">
				<div class="container blog">
					<div class="row bg_row">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<h1>
									Algunas características esenciales del producto, pueden llegar a hacer mas útiles de lo pensado.
								</h1>
							</div>
						</div><!-- /.row -->
						<div class="row">
							<div class="col-md-offset-1 col-md-4">
								<p class="blog_info">
									Me parece una idea brillante, que puedas hacer suficiente con este dispositivo que sólo ON/OFF
								</p>
								<p class="blog_personal_details">
									— Jonathan
								</p>
							</div>
							<div class="col-md-offset-1 col-md-5">
								<ul class="blog_slide">                            
									<!-- <li>
										<h4 class="first_blog_slide">
											May 26  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   03  -  Web
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Nullam dictum felis mollis pretium</a></p>
										<h4>
											May 19  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   07  -  Photos
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Ipsum dolor sit amet nec consectetuer</a></p>
										<h4>
											May 1  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   13  -  Story
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Aenemodo ligula eget dolorenean massa</a></p>
										<h4>
											May 1  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   23  -  Listen
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Vivamus elementum se sem nisi.</a></p>
									</li>
									<li>
										<h4 class="first_blog_slide">
											June 11  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   03  -  Art
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Aenemodo ligula eget dolorenean massa</a></p>
										<h4>
											June 1  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   23  -  Logos
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Nullam dictum felis eu pede mollis</a></p>
										<h4>
											June 19  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   15  -  Photos
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Aenean vulputate eleifend tellus</a></p>
										<h4>
											June 25  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   30  -  Listen
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Who we are? What we do? Meet us.</a></p>
									</li>
									<li>
										<h4 class="first_blog_slide">
											August 11  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   23  -  Photos
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Who we are? What we do? Meet our team.</a></p>
										<h4>
											August 1  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   23  -  Listen
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Lorem ipsum dolor nunc felis semper</a></p>
										<h4>
											August 15  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   23  -  Listen
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Aenemodo ligula eget dolorenean massa</a></p>
										<h4>
											August 22  - &nbsp;<i class="fa fa-comment-o"></i>&nbsp;   23  -  Art
										</h4>
										<p><i class="fa fa-caret-right"></i>&nbsp;&nbsp;<a href="">Design is the contrast of the core of limitations</a></p>
									</li>
								</ul>-->
								<div class="slide_prev_next">
									<a id="blog-prev" class="prev" href="#"><i class="fa fa-caret-left"></i>&nbsp;previous</a>
									<a id="blog-next" class="next" href="#">next&nbsp;<i class="fa fa-caret-right"></i></a>
								</div>
							</div>
						</div><!-- /.row -->
					</div><!-- /.row bg_row -->
				</div><!-- /.container -->
			</section><!-- /section -->
			<section class="section" id="contact">
				<div class="container contact_wrapper">
					<div class="row bg_row">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<h1>
									No dude en contactarnos. Acercate con nosotros usando las lineas de contacto.
								</h1>
							</div>
						</div><!-- /.row -->
						<div class="row">
							<div class="col-md-offset-1 col-md-6">
								<p class="m_bottom_30">
									Si deseas una caracteristica nueva o apoyar en este proyecto, por favor no dudes en contactarnos.
								</p>
							</div>
							<div class="col-md-4">
								<p class="m_bottom_30">
									Agustin Vera No 1415 A 2 Del Valle<br> 
									San Luis Potosí, S.L.P.<br> 
									México 
								</p>
							</div>
						</div><!-- /.row -->
						<div class="row">
							<div class="col-md-offset-1 col-md-6">
								<p>
									Cambiamos la manera de vivir con la tecnología.  
								</p>
							</div>
							<div class="col-md-4">
								<span>
									Telefono: +52 (444) 585.2985<br> 
									Fax: +52 (444) 585.2985<br> 
									Email: turn@suitch.network<br> 
									Web: www.suitch.network
								</span>
							</div>
						</div><!-- /.row -->
						<div class="row contact-form">
							<div class="col-md-offset-1 col-md-5">                                
								<input id="name" class="input-extra-large" type="text">
								<input id="contact-email" class="input-extra-large" type="text">
								<input id="city" class="input-extra-large" type="text">
							</div>
							<div class="col-md-5">
								<div>
									<textarea id="message"></textarea>
								</div>
								<div class="text-right">
									<span class="contact-info"></span>
								</div>
							</div>
							<div class="col-md-offset-8 col-md-3 text-center">
								<a id="send-button" href="#" class="btn btn-large btn-subscribe">Submit</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-offset-1 col-md-10 map text-center"></div>
						</div>
					</div><!-- /.row bg_row -->
				</div><!-- /.container -->    
			</section><!-- /section -->
			<footer>
				<div class="container footer_wrapper">
					<div class="row bg_row">
						<div class="row text-center social">
							<ul>
								<li class="first"><a href="#" target="_blank" class="soc_large_twitter"></a></li>
								<li class="separator">                               
									<img src="images/separator-long.png" alt="__"/>
								</li>
								<li><a href="#" target="_blank" class="soc_large_pinterest"></a></li>
								<li class="separator">                                
									<img  src="images/separator-long.png" alt="--"/>
								</li>
								<li class="last"><a href="#" target="_blank" class="soc_large_facebook"></a></li>
							</ul>
						</div><!-- /.row -->
						<div class="row">
							<div class="col-md-12 text-center">
								<p class="copyright">
									&copy; Suitch, es una división Consultware de Mexico, S. de R.L. de C.V.
								</p>
							</div>
						</div><!-- /.row -->
					</div><!-- /.row bg_row -->
				</div><!-- /.container -->
			</footer>
			
		</div><!--/wrapper -->
		<script type="text/javascript" src="js/libs/jquery-easing-1.3/jquery.easing.min.js"></script>
		<script type="text/javascript" src="js/libs/jquery-caroufredsel-6.2.1/jquery.caroufredsel-6.2.1-packed.js"></script>
		<script type="text/javascript" src="js/libs/jquery-mousewheel-1.0/jquery.mousewheel.min.js"></script>
		<script type="text/javascript" src="js/libs/jquery-touchswipe-1.0/jquery.touchswipe.min.js"></script>
		<script type="text/javascript" src="js/libs/jquery.ba-throttle-debounce-1.0/jquery.ba-throttle-debounce.min.js"></script>
		<!-- Bootstrap -->
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<!-- Main -->
		<script type="text/javascript" src="js/main.js"></script>
		<script>
  (function () {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://app.termly.io/embed.min.js';
    s.id = '90c1af49-3d50-44fb-9b69-0ecf5a3dedd9';
    s.setAttribute("data-name", "termly-embed-banner");
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  })();
</script>
	</body>
	
	</html>