<div class="container">
<div class="row-fluid">
			<div class="span12 coming-soon-header">
				<a class="brand" href="/">
				<h1 class="green">LineAccess</h1>
				</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 coming-soon-content">
				<h1>Proximamente!</h1>
				<p>Aun quedan cosas por descubrir, ingresa tu email y nosotros te notificaremos cuando puedas empezar a usar el servicio ;)</p>
				<br>

				<%= simple_form_for(@subscription) do |f| %>
					<div class="input-append">
						<%= f.input :email,input_html:{ class:'m-wrap', placeholder: "Your Email"} %><!-- <input type="text" class="m-wrap" placeholder="Your Email"> -->
						<button type="submit" class="btn blue btn-subscribe"><span>Suscribirse</span> <i class="m-icon-swapright m-icon-white"></i></button>
					</div>
				<% end %>




				<!-- <ul class="social-icons">
					<li><a href="#" data-original-title="Feed" class="rss"></a></li>
					<li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
					<li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
					<li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
					<li><a href="#" data-original-title="Pinterest" class="pintrest"></a></li>
					<li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
					<li><a href="#" data-original-title="Vimeo" class="vimeo"></a></li>
				</ul> -->
			</div>
			<div class="span6 coming-soon-countdown">
				<div id="defaultCountdown"></div>
			</div>
		</div>
		<!--/end row-fluid-->
		<div class="row-fluid">
			<div class="span12 coming-soon-footer">
				2013 &copy; Consultware de México
			</div>
		</div>
	</div>
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   <script src="assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/excanvas.min.js"></script>
	<script src="assets/plugins/respond.min.js"></script>  
	<![endif]-->   
	<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="assets/plugins/countdown/jquery.countdown.js" type="text/javascript"></script>
	<script src="assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="assets/scripts/app.js" type="text/javascript"></script>
	<script src="assets/scripts/coming-soon.js" type="text/javascript"></script>      
	<!-- END PAGE LEVEL SCRIPTS --> 
	<script>
		jQuery(document).ready(function() {     
		  App.init();
		  ComingSoon.init();
		});
		 
	</script>
	<!-- END JAVASCRIPTS -->