<script type="text/javascript">
$(document).ready(function() {

  
});


</script>
<% if session[:badmix]!=nil %>
<div class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Oh snap! Wrong combination of facebook +  telephone number buddy!</h4>
            <p>ooooops! it looks you have not registered a lineAcces account yet, please register your phone number.</p>
</div>
<% session[:badmix]=nil%>
<% end %>
    <div id="page-wrapper">

      <div id="absolute-wrapper">

        <div class="div-1 div-2">
          <div id="wowslider-container1">

            <div class="ws_images">

              <ul>
          <li><img src="/images/slide3.png" alt="Virtual assistant" title="Virtual assistant" id="wows1_0"/></li>
          <li><img src="/images/slide2.png" alt="Always connected" title="Always connected" id="wows1_1"/></li>
          <li><img src="/images/source.png" alt="Reliable" title="Reliable" id="wows1_2"/></li>
          </ul></div>
          <div class="ws_bullets"><div>
          <a href="#" title="Virtual assistant"><img src="data1/tooltips/slide3.jpg" alt="Virtual assistant"/>1</a>
          <a href="#" title="Always connected"><img src="data1/tooltips/slide2.jpg" alt="Always connected"/>2</a>
          <a href="#" title="Reliable"><img src="data1/tooltips/source.jpg" alt="Reliable"/>3</a>
          </div></div>
            <div class="ws_shadow"></div>e
            </div>
        </div>
        <div class="div-1 div-3">
          <form action="auth/facebook">
            <button class="btn">Sign In</button>
          </form>
        </div>
        <div class="div-1 div-4">
          <div class="control-group">
            <label class="control-label">Phone</label>
            <div class="controls">
              <input class="textinput" type="text" name="" id="userPhoneNumber" value="Your 10 digit phone number" placeholder="Placeholder">
            </div>
          </div>
        </div>
        <button class="btn btn-1" style="z-index:95" onclick="evernoteToken()">Sign Up with Facebook</button>
        <div class="div-1 div-5">
          <img src="images/abajin.png" class="image">
        </div>
      </div>
    </div>