  

  <section class="hbox stretch">
    <%= render :partial=>"shared/leftMainMenuPanel",:locale => 'en' %>
    <!-- .vbox -->
    <section id="content">

      <section class="vbox">        
        <section class="bg-light lter">
          <section class="hbox stretch">          
            <!-- .aside -->
            <aside>
            <% if notice!="" and notice!=nil %>
              <div class="alert alert-warning alert-block">
                <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                <h4><i class="fa fa-bell-o"></i>Hey u!</h4>
                <p><%= notice %></p>
              </div>
            <% end %>
              <section class="vbox">

                <!--
    data-forum: name of the forum (required)
    data-lang: en or fi (optional)
-->
<div class="bublaa-forum" data-forum="internet-of-things-server" data-lang="" data-margin=""></div>
<script type="text/javascript">
    (function() {
        var b = document.createElement('script');
        b.type = 'text/javascript'; b.async = true; b.src = 'http://bublaa.com/dist/plugins.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(b, s);
    })();
</script>
<noscript>Your browser does not support JavaScript. Enable JavaScript or use a browser that supports it to use bublaa.</noscript>

                
              </section>
            </aside>
            <!-- /.aside -->
            <%= render :partial=>"shared/rightPanel",:locale => 'en' %>
          </section>
        </section>
        <footer class="footer bg-light dker bg-gradient">
          <p><%= t(:suitch_copyright) %> </p>
        </footer>
      </section>
    </section>
    <!-- /.vbox -->
  </section>
  <div class="modal fade" id="modal-new-phone">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:add_new_phone) %> <i class="icon-phone"></i></h4> 
      </div>
        <div class="modal-body">
          <p><%= t(:complete_all_fields) %></p>
          <%= render :partial=>'sys_user_phones/form',:locale => 'en' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div id="ajaxModal" class="modal fade"></div>

  <div class="modal fade" id="modal-new-device">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:add_new_embedded_device) %> <i class="icon-bug"></i></h4> 
      </div>
        <div class="modal-body">
          <p><%= t(:add_new_device_description) %></p>
          <%= render :partial=>'anet_devices/form',:locale => 'en' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="modal-pair-twitter">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:twitter_pairing) %><i class="icon-twitter"></i></h4> 
      </div>
        <div class="modal-body">
          <p style="float: left;margin-top:-30px"><img src="https://abs.twimg.com/a/1373698031/images/resources/twitter-bird-light-bgs.png" width="100px" height="100px" style="top:-30px"></p>
    <p><%= t(:twitter_permission_content) %></p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:not_now) %></a>
          <a href="auth/twitter" class="btn btn-primary"><%= t(:lets_go) %></a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="modal-pair-evernote">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:evernote_pairing) %><i class="icon-pencil"></i></h4> 
      </div>
        <div class="modal-body">
          <p style="float: left;"><img src="http://evernote.com/media/img/logos/evernote_logo_4c-sm.png" style="top:-30px"></p>
    <p><%= t(:evernote_permission_content) %></p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:not_now) %></a>
          <a href="auth/evernote" class="btn btn-primary"><%= t(:lets_go) %></a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="modal-pair-google">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:google_pairing) %><i class="icon-google-plus-sign"></i></h4> 
      </div>
        <div class="modal-body">
          <p style="float: left;"><img src="http://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png" style="top:-30px"></p>
    <p><%= t(:google_permission_content) %></p> 
        </div>
         <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:not_now) %></a>
          <a href="auth/google_oauth2" class="btn btn-primary"><%= t(:lets_go) %></a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  
