<script type="text/javascript">
  function dmfu(what){
    
    if (what==0) {
      $("#showWatchType<%= @smartwatch.id %>").attr('src', '/images/sony_mn2.jpg');
    } else if(what==1){
      $("#showWatchType<%= @smartwatch.id %>").attr('src', '/images/sony_sw2.jpg');
    } else {
      $("#showWatchType<%= @smartwatch.id %>").attr('src', '/images/im_watch.png');
    }
    // 
  }
  
</script>
<%= simple_form_for(@smartwatch) do |f| %>
  <%= f.error_notification %>
  <div class="row">
<div class="col-lg-4">
<img src="/images/sony_sw2.jpg" id="showWatchType<%= @smartwatch.id %>">
</div>
<div class="col-lg-6">
  
    
    

    <%= f.input :watch_type, required:true,label:"Type of watch", input_html: { class:'form-control',:onchange => "dmfu(this.selectedIndex)"},:collection => ["Sony SmartWatch 1","Sony SmartWatch 2","I'm Watch"],:selected => 'Sony SmartWatch 2' %>

    <%= f.input :token,required:true,label:"Token in showed in watch",input_html: { class:'form-control', placeholder:'XXXX XXX'} %>
    
    
  
<button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs">Save now</button> 
    
  </div>
  </div>
<% end %>
