<h1>Listing smartwatches</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Watch type</th>
    <th>Token</th>
    <th>Sys user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smartwatches.each do |smartwatch| %>
  <tr>
    <td><%= smartwatch.id %></td>
    <td><%= smartwatch.watch_type %></td>
    <td><%= smartwatch.token %></td>
    <td><%= smartwatch.sys_user_id %></td>
    <td><%= link_to 'Show', smartwatch %></td>
    <td><%= link_to 'Edit', edit_smartwatch_path(smartwatch) %></td>
    <td><%= link_to 'Destroy', smartwatch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smartwatch', new_smartwatch_path %>
