<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @smartwatch.id %>
</p>

<p>
  <b>Watch type:</b>
  <%= @smartwatch.watch_type %>
</p>

<p>
  <b>Token:</b>
  <%= @smartwatch.token %>
</p>

<p>
  <b>Sys user:</b>
  <%= @smartwatch.sys_user_id %>
</p>


<%= link_to 'Edit', edit_smartwatch_path(@smartwatch) %> |
<%= link_to 'Back', smartwatches_path %>
