<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @subscription.id %>
</p>

<p>
  <b>Email:</b>
  <%= @subscription.email %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
