<%= simple_form_for @sys_user_phone, :html => {:multipart => true} do |f| %>
  
    
    
    <%= f.input :sys_phone_type, required:true,label:"Phone number type", input_html: { class:'form-control' },:collection => Sys_Phone_Type.all,:label_method => :description, :value_method => :id %>
    
    <%= f.input :number,required:true,label:"Phone number",input_html: { class:'form-control', placeholder:'(XXX) XXXX XXX'} %>
    
    <div class="checkbox m-t-lg">
    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs">Save now</button>     
    <% if request.env['PATH_INFO'].index("edit")!=nil %>     
    <%= link_to 'Delete', @sys_user_phone, :method=> :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-sm btn-danger pull-right text-uc m-t-n-xs' %>
    <% end %>
    </div>          
<% end %>
<% if request.env['PATH_INFO'].index("edit")!=nil %> 
<% telefonos=SysUserPhone.find_all_by_sys_user(session[:activeUser].id) %>
<% telefonosid=[] %>
<% telefonos.each do | singlePhone | %>
  <% telefonosid.push(" phone like '%"+singlePhone.number+"%' ") %>
<% end %>
<% totales=Sys_Phrase.where(telefonosid.join(" or ")).count %>
<% totalesWithPhone=Sys_Phrase.where("phone like '%"+@sys_user_phone.number.to_s+"%'").count %>
<% porcentage=0 %>
<% if totales>0 %>
<% porcentage=(totalesWithPhone*100)/totales %>
<% end %>

<section class="panel">
                    <header class="panel-heading">
                      Phone statistics
                    </header>
                    <div class="panel-body text-center">
                      <h4><%= totales %></h4>
                      <small class="text-muted block">Total commands/requests made to lineaccess</small>
                      <div class="inline">
                        <div class="easypiechart" data-percent="<%= porcentage %>" data-line-width="30" data-track-color="#eee" data-bar-color="#afcf6f" data-scale-color="#fff" data-loop="false" data-size="188">
                          <span class="h2"><%= totales %></span>%
                          <div class="easypie-text">made with this phone</div>
                        </div>
                      </div>                      
                    </div>
                    <div class="panel-footer"><small>% of avarage rate of commands</small></div>
                  </section>
                  <% end %>
                  <%= csrf_meta_tags %>

