<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit your phone</h4>
    </div>
    <div class="modal-body">
      <%= render 'form' %>

 </div>
    
  </div>
</div>
<script type="text/javascript">
	updateRoundedCharts();
</script>