<h1>Listing sys_user_phones</h1>

<table>
  <tr>
    <th>Sys user</th>
    <th>Sys phone type</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sys_user_phones.each do |sys_user_phone| %>
  <tr>
    <td><%= sys_user_phone.sys_user %></td>
    <td><%= sys_user_phone.sys_phone_type %></td>
    <td><%= sys_user_phone.number %></td>
    <td><%= link_to 'Show', sys_user_phone %></td>
    <td><%= link_to 'Edit', edit_sys_user_phone_path(sys_user_phone) %></td>
    <td><%= link_to 'Destroy', sys_user_phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sys user phone', new_sys_user_phone_path %>
