<p id="notice"><%= notice %></p>

<p>
  <b>Sys user:</b>
  <%= @sys_user_phone.sys_user %>
</p>

<p>
  <b>Sys phone type:</b>
  <%= @sys_user_phone.sys_phone_type %>
</p>

<p>
  <b>Number:</b>
  <%= @sys_user_phone.number %>
</p>


<%= link_to 'Edit', edit_sys_user_phone_path(@sys_user_phone) %> |
<%= link_to 'Back', sys_user_phones_path %>
