<h1>Listing glasses</h1>

<table>
  <tr>
    <th>Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @glasses.each do |glass| %>
  <tr>
    <td><%= glass.id %></td>
    <td><%= link_to 'Show', glass %></td>
    <td><%= link_to 'Edit', edit_glass_path(glass) %></td>
    <td><%= link_to 'Destroy', glass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Glass', new_glass_path %>
