
<section class="hbox stretch">
  <%= render :partial=>"shared/leftMainMenuPanel" %>
  <!-- vbox -->
  <section id="content">

    <section class="vbox">        
      <section class="bg-light lter">
        <section class="hbox stretch">          
          <!-- .aside -->
          <aside>
            <% if notice!="" and notice!=nil %>
              <div class="alert alert-warning alert-block">
                <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                <h4><i class="fa fa-bell-o"></i>Hey u!</h4>
                <p><%= notice %></p>
              </div>
            <% end %>
            
          </aside>
          <!-- /.aside -->
          <%= render :partial=>"shared/rightPanel",:locale => 'en' %>
        </section>
      </section>
      
      <!-- START SCREEN -->
        <!-- APPLICATION SPACE -->
        <div class="CardGroup">
          <script>
          var lineColors={blue: "rgb(54, 162, 235)",
                            green: "rgb(75, 192, 192)",
                            grey: "rgb(201, 203, 207)",
                            orange: "rgb(255, 159, 64)",
                            purple: "rgb(153, 102, 255)",
                            red: "rgb(255, 99, 132)",
                            yellow: "rgb(255, 205, 86)"};
          var colorNames = Object.keys(window.lineColors);
              var ct_charts = [];
            </script>
          <%
          counter = 0 
          @user_devices.each do |single_device| 
            %>           
            <% commands = AnetCommand.where(:arduino_id => single_device.id) %>
            <% valuesFromCommands = AnetValue.where(:command_id => commands.pluck(:id)).order('id desc').limit(200) %>
            
            <script>
              ct_charts.push(
                {
                  <% 
                  timeSchedule=[]
                  using_temperature = false
                  %>
                    
                    data: [
                      
                      <% commands.each do |singleCommand | %>
                        <% if singleCommand.command_data == 'temp' %>
                          <% using_temperature = true %>
                        <% end %>
                        <% if valuesFromCommands.where(:command_id =>singleCommand.id).length > 0 %>
                        <% valuesFromCommands.where(:command_id =>singleCommand.id).pluck(:created_at).each do |singleDate| %>
                          <% timeSchedule.push((singleDate - 5.hour).strftime("%H:%M:%S")) %>
                        <% end %>
                          { fill:false,
                          "label": "<%=  singleCommand.command %>",
                          "backgroundColor":window.lineColors[window.colorNames[<%= valuesFromCommands.where(:command_id =>singleCommand.id).length %> % colorNames.length]],
			                    "borderColor":window.lineColors[window.colorNames[<%= valuesFromCommands.where(:command_id =>singleCommand.id).length %> % colorNames.length]],
                           "data": [<%= valuesFromCommands.where(:command_id =>singleCommand.id).pluck(:value).join(',') %>].reverse() },
                        <% end %>
                      <% end %>
                      
                        ],
                    labels: "<%= timeSchedule.join(",") %>".split(",").reverse(),
                    fill:false,
                    temp: <%= using_temperature %>
                }
              );
            </script>
            
            <article class="Card theme-blue" <% if valuesFromCommands.length > 0 %> data-size="large" <% else %> data-size="small" <% end %>>
              <h1 class="Card-title"><span><%= single_device.object %> (<%= single_device.location %>) </span></h1>
              <div class="Card-content">
              <% anetLog=AnetLog.where(:arduino_id=>single_device.id).order("created_at ASC").last %>
              <% if anetLog != nil and anetLog.connection_type==1 %>
                <span class="label bg-success">ONLINE </span>
              <% elsif anetLog != nil %>
                <span class="label bg-danger">OFFLINE <%= (anetLog.created_at - 5.hour).strftime('%m/%d/%Y %H:%M') %></span>
              <% end %>
                <div class="row">
                <% if single_device.version == "camv1" and anetLog != nil and anetLog.connection_type == 1%>
                <script>

                var pusher = new Pusher('a41aed5f65a8c69c5f0a', {
                  cluster: 'us2',
                  forceTLS: true
                });
            
                var channel = pusher.subscribe('<%= single_device.token %>');
                channel.bind('rec-picture', function(data) {
                  
                  $('#img-<%= single_device.token %>').attr("src","/recordings/<%= single_device.token %>/"+data.message);
                });     
              </script>
              <% if 1 == 0 %>
              https://p2p.suitch.network/p2p?name=<%= single_device.token %>
              <% end %>
                  <img id="img-<%= single_device.token %>" onerror="this.src='/images/gray_icon.png';" >
                  <input id="video-start-<%= single_device.token %>" class="flatpickr flatpickr-input" type="text" placeholder="Select start point" readonly="readonly" style="width:300px">
                  <!-- input id="video-end-<%= single_device.token %>" class="flatpickr flatpickr-input" type="text" placeholder="Select end point" readonly="readonly" -->
                  <button type="submit" class="btn btn-xs btn-success pull-right text-uc m-t-n-xs" onclick="javascript:generateVideo('<%= single_device.token %>');">Video</button>
                  <% if SysVideo.where(:token=>single_device.token).order('id asc').limit(1).last != nil %>
                  <script>
                  flatpickr("#video-start-<%= single_device.token %>", {
                    onChange: function(dateObj, dateStr) {
                        currentDates = dateObj;
                    },mode: "range",enableTime: true,enable: [
                    {
                        from: "<%= SysVideo.where(:token=>single_device.token).order('id asc').limit(1).last.created_at.strftime("%Y-%m-%d") %>",
                        to: "<%= SysVideo.where(:token=>single_device.token).order('id desc').limit(1).last.created_at.strftime("%Y-%m-%d") %>"
                    }]
                    });
                  /*flatpickr("#video-end-<%= single_device.token %>", {mode: "range",enableTime: true,
                  enable:[
                    {
                        from: "<%= SysVideo.where(:token=>single_device.token).order('id asc').limit(1).last.created_at.strftime("%Y-%m-%d") %>",
                        to: "<%= SysVideo.where(:token=>single_device.token).order('id desc').limit(1).last.created_at.strftime("%Y-%m-%d") %>"
                    }]});*/
                  </script>
                <% end %>
                <% elsif single_device.version == "gpsv1" and anetLog != nil and anetLog.connection_type == 1 %>
                  <% lastPosition = Sys_Phrase.where(:phone => single_device.token,:interface_executed => 12).last %>
                  <% if lastPosition != nil %>
                    <% positions = lastPosition.translate.split("&") %>
                    <% lati= positions[0].split("=")[1] %>
                    <% langi = positions[1].split("=")[1] %>
                    <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBZaFXyd4_8iMAH-VMxpLDMcCm0GC8n0Lo&libraries=geometry&center=<%= lati %>,<%= langi %>&zoom=13&size=420x300&maptype=roadmap
  &markers=color:blue%7Clabel:S%7C<%= lati %>,<%= langi %>&sensor=false">
                
                <% end %>
                <% end %>
                <% if valuesFromCommands.length > 0 %>
                  <div class="col-sm-9">
                    <!-- div class="ct-chart data-chart<%= counter %> "></div-->
                    <canvas id="myChart<%= counter %>" width="100%" height="50px"></canvas>
                  </div>
                <% end %>
                
                  <div <% if valuesFromCommands.length > 0 %>class="col-sm-3"<% else %> class="col-sm-12" <% end %>>
              <%= single_device.description %><br>
                <%
                counter = counter + 1 
                commands.each do |singleCommand | 
                  %>
                  <button class="card-button">
                    <button type="button" class="btn btn-primary btn-block" onclick="javascript:sendit('<%= single_device.token %>','<%= singleCommand.command_data %>');"><%= singleCommand.command %></abbr>
                  </button>
                  <% end %>
                  </div>
                  </div>
                </div>
                <a class="Card-action" href="/devices/browser/<%= single_device.token %>.html" data-toggle="ajaxModal" >
                  <span class="Card-notification"></span>Files on device (click to edit remotely)<span class="Card-action-angle fa fa-external-link fa-lg"></span>
                </a>
            </article>       
          <% end %>
        </div>

        <!-- APPLICATION SPACE -->
        
      <!-- END SCREEN -->
      <br>
      <br>
      <br>
      <br>
      <footer class="footer bg-light dker bg-gradient">
        <p><%= t(:suitch_copyright) %> </p>
      </footer>
    </section>
  </section>
      <!-- /.vbox -->
</section>
  

  <div id="ajaxModal" class="modal fade"></div>

  <%= render :partial=>'personal_accounts/thirdparties',:locale => 'en' %>
  <link rel="stylesheet" type="text/css" href="/css/style_color_cards.css" />
  <link rel="stylesheet" type="text/css" href="/css/style_chart.css" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  
  <script>
  
  for(var q = 0; q<ct_charts.length; q++){
    if( ct_charts[q].data.length>0){
      var ctx = document.getElementById('myChart'+q).getContext('2d');
          
      var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ct_charts[q].labels,
        datasets: ct_charts[q].data
    },

    // Configuration options go here
    options: ct_charts[q].temp ? {} : {
				responsive: true,
				title: {
					display: true,
					text: 'Min and Max Settings'
				},
				scales: {
					yAxes: [{
						ticks: {
							// the data minimum used for determining the ticks is Math.min(dataMin, suggestedMin)
							suggestedMin: 420,

							// the data maximum used for determining the ticks is Math.max(dataMax, suggestedMax)
							suggestedMax: 460
						}
					}]
				}
			}
});
    }
  }
  var currentDates;
  function generateVideo(token){
    if (currentDates != null && currentDates != undefined){
      console.log(currentDates);
      $.post( "/devices/camera/download.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',startdate:currentDates[0].getTime()/1000,enddate:currentDates[1].getTime()/1000,token:token})
            .done(function( data ) {
             console.log(data);
            //download now
            fetch('https://www.suitch.network/'+data+'.mp4')
            .then(resp => resp.blob())
            .then(blob => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement('a');
              a.style.display = 'none';
              a.href = url;
              // the filename you want
              a.download = 'video.mp4';
              document.body.appendChild(a);
              a.click();
              window.URL.revokeObjectURL(url);
              alert('your file has downloaded!'); // or you know, something with better UX...
            })
            .catch(() => alert('oh no!'));
          });
    } else {
      alert("Select date range to generate the video");
    }
  }
  </script>