<%= simple_form_for(@system_activity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :device_token %>
    <%= f.input :virtual_assistant %>
    <%= f.input :command %>
    <%= f.input :value %>
    <%= f.input :raw_content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
