<h1>Listing system_activities</h1>

<table>
  <tr>
    <th>Device token</th>
    <th>Virtual assistant</th>
    <th>Command</th>
    <th>Value</th>
    <th>Raw content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_activities.each do |system_activity| %>
  <tr>
    <td><%= system_activity.device_token %></td>
    <td><%= system_activity.virtual_assistant %></td>
    <td><%= system_activity.command %></td>
    <td><%= system_activity.value %></td>
    <td><%= system_activity.raw_content %></td>
    <td><%= link_to 'Show', system_activity %></td>
    <td><%= link_to 'Edit', edit_system_activity_path(system_activity) %></td>
    <td><%= link_to 'Destroy', system_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New System activity', new_system_activity_path %>
