<p id="notice"><%= notice %></p>

<p>
  <b>Device token:</b>
  <%= @system_activity.device_token %>
</p>

<p>
  <b>Virtual assistant:</b>
  <%= @system_activity.virtual_assistant %>
</p>

<p>
  <b>Command:</b>
  <%= @system_activity.command %>
</p>

<p>
  <b>Value:</b>
  <%= @system_activity.value %>
</p>

<p>
  <b>Raw content:</b>
  <%= @system_activity.raw_content %>
</p>


<%= link_to 'Edit', edit_system_activity_path(@system_activity) %> |
<%= link_to 'Back', system_activities_path %>
