<%= simple_form_for(@geo_setting) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :user_id %>
    <%= f.input :earthquakes %>
    <%= f.input :volcano %>
    <%= f.input :water %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
