<h1>Listing geo_settings</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Earthquakes</th>
    <th>Volcano</th>
    <th>Water</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @geo_settings.each do |geo_setting| %>
  <tr>
    <td><%= geo_setting.id %></td>
    <td><%= geo_setting.user_id %></td>
    <td><%= geo_setting.earthquakes %></td>
    <td><%= geo_setting.volcano %></td>
    <td><%= geo_setting.water %></td>
    <td><%= link_to 'Show', geo_setting %></td>
    <td><%= link_to 'Edit', edit_geo_setting_path(geo_setting) %></td>
    <td><%= link_to 'Destroy', geo_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Geo setting', new_geo_setting_path %>
