<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @geo_setting.id %>
</p>

<p>
  <b>User:</b>
  <%= @geo_setting.user_id %>
</p>

<p>
  <b>Earthquakes:</b>
  <%= @geo_setting.earthquakes %>
</p>

<p>
  <b>Volcano:</b>
  <%= @geo_setting.volcano %>
</p>

<p>
  <b>Water:</b>
  <%= @geo_setting.water %>
</p>


<%= link_to 'Edit', edit_geo_setting_path(@geo_setting) %> |
<%= link_to 'Back', geo_settings_path %>
