<% singleWindowNumber=Random.rand(99) %>

<% if request.env['PATH_INFO'].index("edit")!=nil %>
<script>
    generateSparkline(false);
    </script>
<section class="panel">
                <header class="panel-heading text-right bg-light">
                  <ul class="nav nav-tabs pull-left">
                    <li class="active"><a href="#messages-<%= singleWindowNumber %>" data-toggle="tab"><i class="icon-comments text-default"></i><%= t(:spoken_commands) %></a></li>
                    <li><a href="#profile-<%= singleWindowNumber %>" data-toggle="tab"><i class="icon-cog text-default"></i><%= t(:settings) %></a></li>
                    <li><a href="#schedule-<%= singleWindowNumber %>" data-toggle="tab"><i class="icon-cog text-default"></i><%= t(:schedule) %></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-exclamation-sign text-default"></i><%= t(:need_help) %><b class="caret"></b></a>
                      <ul class="dropdown-menu text-left">
                        <li><a href="https://www.facebook.com/suitch.co" data-toggle="tab">https://www.facebook.com/suitch.co</a></li>
                        <li><a href="https://twitter.com/suitch_" data-toggle="tab">https://twitter.com/suitch_</a></li>
                      </ul>
                    </li>
                  </ul>
                  <span class="hidden-sm"><%= t(:edit_and) %></span>
                </header>
<div class="panel-body">
 <div class="tab-content"> 
    <div class="tab-pane fade" id="schedule-<%= singleWindowNumber %>">
        <div class="panel">
        <form method="POST" action="/devices/schedule">
        <input type="hidden" id="device_id" name="device_id" value="<%= @anet_device.id %>">
        <input type="hidden" id="authenticity_token_id" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
          <div class="row">
            <div class='col-sm-5'>
              <div class="form-group">
                <label for="sel1">Available commands:</label>
                <select class="form-control" id="sel1" name="command">
                <option value="---">---</option>
                <% @anet_commands.each do |singleCommand| %>
                  <option value="<%= singleCommand.id %>"><%= singleCommand.command  %> (<%= singleCommand.command_data %>)</option>
                <% end %>
                </select>
              </div>
            </div>
            <div class='col-sm-5'>
                <div class="form-group">
                <label for="sel1">Automated at:</label>
                    <div class='input-group date' id='datetimepicker1' >
                        <input type='text' class="form-control" name="schedule"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="form-group">
                <label for="sel1">Action:</label>
                  <button type="submit" class="btn btn-primary btn-xs">Create</button>
                </div>
            </div>  
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD hh:mm A'});
              });
          </script>
          </div>
          </form>
        </div>

        <section class="panel">
          <header class="panel-heading"><% t(:stats) %></header>
          <table class="table table-striped m-b-none text-sm">
            <thead>
              <tr>
                
                <th width="25"><%= t(:command) %></th>
                <th width="25"><%= t(:schedule) %></th>                    
                <th width="25"><%= t(:actions) %></th>
              </tr>
            </thead>
            <tbody>
                <% @anet_schedules.each do |singleSchedule| %>
                <% comando = AnetCommand.where(:id => singleSchedule.command ).last %>
                
              <tr>                    
                <td>
                  <% if comando != nil %>
                    <%= comando.command_data %>
                  <% end %>
                </td>
                <td class="text-success">
                <%= singleSchedule.schedule %>
                </td>
                <td>
                  <%= t(:delete) %>
                </td>
              </tr>
                <% end %>
            </tbody>
          </table>
        </section>
    </div>             
    <div class="tab-pane fade active in" id="messages-<%= singleWindowNumber %>">
        <div class="panel">
                  <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      <%= t(:click_to_add) %>
                    </a>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body text-sm">
                        <%= render "anet_commands/form" %>
                    </div>
                  </div>
                </div>
        <section class="panel">
                    <header class="panel-heading"><%= t(:stats) %></header>
                    <table class="table table-striped m-b-none text-sm">
                      <thead>
                        <tr>
                          <th width="70"><%= t(:plot) %></th>
                          <th width="25"><%= t(:command) %></th>
                          <!-- th width="25"><%= t(:schedule) %></th -->                    
                          <th><%= t(:when_executed) %></th>
                          <th width="60"><%= t(:actions) %></th>
                        </tr>
                      </thead>
                      <tbody>
                          <% @anet_commands.each do |singleCommand| %>
                          <% valoresSpark=[] %>
                          <% valores=AnetValue.select(:value).where(:command_id=>singleCommand.id).limit(15) %>
                          <% valores.each do |singleCommandValue| %>
                          <% valoresSpark.push(singleCommandValue.value) %>
                          <% end %>
                        <tr>                    
                          <td>
                            <div class="sparkline" data-bar-color="#5cb85c" data-type="bar" data-height="19"><!-- <%= valoresSpark.join(",") %> --></div>
                          </td>
                          <td><%= singleCommand.command_data %></td>
                          <% if singleCommand.on_time==nil %>
                          <!-- td>none</td -->
                          <% else %>
                          <!-- td><%= Time.at(singleCommand.on_time.to_i+6.hour.to_i).strftime("%I:%M %p") %></td -->
                          <% end %>
                          
                          <td class="text-success">
                              <%= t(:iwant) %> <%= singleCommand.command %> <%= @anet_device.object %> <%= t(:from) %> <%= @anet_device.location %>
                          </td>
                          <td><a href="#" ><%= t(:delete) %> <i class="icon-remove"></i></a><br> <a href="javascript:sendit('<%= @anet_device.token %>','<%= singleCommand.command_data %>')" > <%= t(:test) %> <i class="icon-bolt"></i></a></td>
                        </tr>
                          <% end %>
                      </tbody>
                    </table>
                  </section>

                
        
     </div>
    <div class="tab-pane fade" id="profile-<%= singleWindowNumber %>">
  <% end %> 
<%= simple_form_for @anet_device, :html=> { class: 'form' } do |f| %>  
  <div  >
    <%= f.input :object,:as=>:string,label:"Object",input_html: { class:'form-control',placeholder:'Give it a name like "light" or "door" or "motor"' } %>
  </div>
  <div  >
    <%= f.input :location,:as=>:string,label:"Location",input_html: { class:'form-control',placeholder:'Give it a location like "kitchen" or "office" or "garage"' } %>
  </div>
  <div  >
    <%= f.input :description,label:"Description",input_html: { class:'form-control',rows:"6",placeholder:'The description is for you, add notes here' } %>
  </div>
  <% if request.env['PATH_INFO'].index("edit")!=nil %>
  <div  >
    <%= f.input :token,:as=>:string,label:"Token",input_html:{ class:'form-control',placeholder:'The token is generated when saving'},disabled:true %>
  </div>
  <div  >
      
    <%= f.input :secret_token,:as=>:string,label:"Token secret",input_html:{ class:'form-control',placeholder:'The token password is generated when saving'},disabled:true %>
  </div>
  <% end %>
  <div class="checkbox m-t-lg">
  <label>
    <%= f.input_field :is_public,:as=>:boolean,inline_label:"Is this device available from other arduinos/raspberries?",input_html:{ class:'form-control pull-right text-uc m-t-n-xs'} %>
    </label>
  </div>
  <strong>Check the type of notifications you would like to receive when connecting/disconnecting</strong>
 <!--  <div class="checkbox m-t-lg">
    <%= f.input_field :notify_hangout,:as=>:boolean,inline_label:"Hangout",input_html:{ class:'form-control pull-right text-uc m-t-n-xs'} %>
  </div> -->
  <!-- div class="checkbox m-t-lg">
    <%= f.input_field :notify_fb,:as=>:boolean,inline_label:"Facebook wall",input_html:{ class:'form-control pull-right text-uc m-t-n-xs'} %>
  </div -->
  <div class="checkbox m-t-lg">
    <%= f.input_field :notify_email,:as=>:boolean,inline_label:"Email",input_html:{ class:'form-control pull-right text-uc m-t-n-xs'} %>
  </div>
  <div class="checkbox m-t-lg">
    <%= f.input_field :notify_twitter,:as=>:boolean,inline_label:"Twitter",input_html:{ class:'form-control pull-right text-uc m-t-n-xs'} %>
  </div>
  <div class="checkbox m-t-lg">
    <%= f.input_field :notify_telegram,:as=>:boolean,inline_label:"Telegram",input_html:{ class:'form-control pull-right text-uc m-t-n-xs'} %>
  </div>
  <div class="checkbox m-t-lg">
    <%= f.input_field :notify_fbinbox,:as=>:boolean,inline_label:"Facebook Messenger",input_html:{ class:'form-control pull-right text-uc m-t-n-xs'} %>
  </div>
  
  
 <div class="checkbox m-t-lg">
    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs"><%= t(:save_now) %></button>     
    <% if request.env['PATH_INFO'].index("edit")!=nil %>     
    <%= link_to 'Delete', @anet_device, :method=> :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-sm btn-danger pull-right text-uc m-t-n-xs' %>
    <% end %>
    </div>     
<% end %>
        <% if request.env['PATH_INFO'].index("edit")!=nil %>
        </div>
     <div class="tab-pane fade" id="dropdown<%= singleWindowNumber %>">dropdown1</div>
    <div class="tab-pane fade" id="dropdown<%= singleWindowNumber %>">dropdown2</div>
  </div>
</div>
      <% end %>
              </section>

