
<script>

    var pusher = new Pusher('a41aed5f65a8c69c5f0a', {
      cluster: 'us2',
      forceTLS: true
    });

    var channel = pusher.subscribe('<%= @device %>');
    var currentFile = "";
    channel.bind('open-file', function(data) {
      var tmpSection = window.atob(data.message);
      console.log(tmpSection.indexOf("openFile=<<<BEGIN"))
      if (tmpSection.indexOf("openFile=<<<BEGIN") == 0){
        currentFile = tmpSection;
      } else {
        currentFile = currentFile + tmpSection;
      }
      $("#fileContent").val(currentFile.substring(17, currentFile.indexOf("<<<END\n\r")));
    });

    function getSingleFile(){
        var x = document.getElementById("archivos").value;
        document.getElementById("fileTitle").value=x;
        $.post("/devices/open/<%= @device %>.json",
        {
            file: x,
            device: "<%= @device %>",
            utf8:"✓",
            authenticity_token:'<%= form_authenticity_token.to_s %>'
        },
        function(data, status){
            
        });
    }
    function saveFile(){
      $("#my-save-file").prop("disabled",true);
      $("#fileContent").prop("disabled",true);
        $.post("/devices/save/<%= @device %>.json",
        {
            
            file: document.getElementById("fileTitle").value,
            device: "<%= @device %>",
            contents: window.btoa(document.getElementById("fileContent").value),
            utf8:"✓",
            authenticity_token:'<%= form_authenticity_token.to_s %>'
        },
        function(data, status){
          $("#my-save-file").prop("disabled",false);
          $("#fileContent").prop("disabled",false);
          alert("File has been saved");
        });
    }
  </script>
<div class="modal fade in" id="modal-browse-files" style="display: block;">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"><%= t(:device) %> <i class="icon-phone"></i></h4> 
  </div>
    <div class="modal-body">
      


  <link href='https://fonts.googleapis.com/css?family=Roboto:300|Text+Me+One' rel='stylesheet' type='text/css'>
  <style type="text/css">
  
 
a:link {
    color: #dfe5eb;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #dfe5eb;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #fff;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #dfe5eb;
    text-decoration: none;
}
*::-moz-selection, *::selection {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.5);
}
form {
  width: 100%;
  color: #fff;
  margin: 0 auto;
  margin-top: 1em;
}

/*
 * Title: input
 */

input[type="text"],textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font: 1.1em/1.75em 'Text Me One', sans-serif;
  outline: none;
  word-spacing: -.25em;
  position: relative;
  background-color: transparent;
  border-bottom: 0.05em solid rgba(169, 147, 147, 0.4);
  color: #999;
  width: 100%;
  margin-bottom: .2em;
  font-variant: small-caps;
  font-size: 1.5em;
  line-height: 1em;
  -moz-transition: box-shadow 0.55s ease-in-out;
  -o-transition: box-shadow 0.55s ease-in-out;
  -webkit-transition: box-shadow 0.55s ease-in-out;
  transition: box-shadow 0.55s ease-in-out;
}
input[type="text"]:focus,textarea:focus {
  box-shadow: 0 -1em 5em -0.2em rgba(245, 255, 213, 1), 0 1em 5em -0.2em rgba(245, 255, 213, 1);
}



  </style>



<div class="wrapper" id="mywrapper">
  <section>
    <h1>File editor</h1>
    <h2>Browse your files, edit and delete them. Easy peasy</h2>
    
    <form method="get" action="">
<table style="width:100%">
  <tr>
    <td><input type="text" name="title" autocomplete="off" spellcheck="false" id="fileTitle"></td>
    <td>

    <select style="height:100%;" id="archivos" onchange="getSingleFile();">
    <% @files.each do |singleFile| %>
        <option value="<%= singleFile["file"] %>"><%= singleFile["file"] %>/<%= singleFile["size"] %> bytes</option>'; 
    <% end %>
    </select>
</td> 
  </tr>
</table>
    <textarea data-type="1" name="text" rows="5" spellcheck="false" style="height:400px" id="fileContent"></textarea>
    <table style="width:30%">
  <tr>
    <td><button type="button" data-type="2" contenteditable="true" spellcheck="false" style="width:70px" onclick="saveFile();" id="my-save-file">Save</button></td>
  </tr>
</table>
  </form>
  </section>
</div>

    
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>