
  
  
<div class="modal fade in" id="modal-claim-device" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:claim_device) %> <i class="icon-bug"></i></h4> 
      </div>
      <div class="modal-body">
        <section class="panel">
          <header class="panel-heading text-right bg-light">
            <ul class="nav nav-tabs pull-left">
              <li class="active">
                <a href="#messages-" data-toggle="tab">
                  <i class="icon-comments text-default"></i>
                  Token
                </a>
              </li>
              <li>
                <a href="#profile-" data-toggle="tab">
                  <i class="icon-cog text-default"></i>
                    Wifi SSID
                </a>
              </li>
            </ul>
            <span class="hidden-sm">Link</span>
          </header>
          <div class="panel-body">
            <div class="tab-content">              
                <div class="tab-pane fade active in" id="messages-">
          
                  <% singleWindowNumber=Random.rand(99) %>


                  <%= simple_form_for @anet_device, :html=> { class: 'form' } do |f| %>  
                    <div  >
                      <%= f.input :token,:as=>:string,label:"Token",input_html:{ class:'form-control',placeholder:'The token is generated when saving'} %>
                    </div>
                    <div  >
                        
                      <%= f.input :secret_token,:as=>:string,label:"Token secret",input_html:{ class:'form-control',placeholder:'The token password is generated when saving'} %>
                    </div>
                    <input type="hidden" name="claim" value="yes">
                  
                    <div class="checkbox m-t-lg">
                      <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs"><%= t(:save_now) %></button>     
                    </div>     
                  <% end %>
                </div>
              <div class="tab-pane fade" id="profile-">
              <%= simple_form_for @anet_device, :html=> { class: 'form' } do |f| %>  
                <div  >
                  <%= f.input :token,:as=>:string,label:"Wifi name (SSID):",input_html:{ class:'form-control',placeholder:'The wifi name where the device connected'} %>
                </div>
                
                <input type="hidden" name="ssid" value="yes">
              
                <div class="checkbox m-t-lg">
                  <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs"><%= t(:save_now) %></button>     
                </div>     
              <% end %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>