
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
        <% anetLog=AnetLog.where(:arduino_id=>@anet_device.id).order("created_at ASC").last %>
      <h4 class="modal-title">Edit your device <% if anetLog!=nil %>
          <% if anetLog.connection_type==1 %>
          <span class="label bg-success">ONLINE </span>
          <% else %>
          <span class="label bg-danger">OFFLINE</span>
          <% end %>
          <% else %>
          <span class="label bg-danger">OFFLINE</span>
          <% end %>
        </h4>
    </div>
    <div class="modal-body">
      <%= render 'form' %>
    </div>
    
  </div>
</div>