<h1>Listing anet_devices</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Location</th>
    <th>Object</th>
    <th>Token</th>
    <th>Secret token</th>
    <th>Id owner</th>
    <th>Is public</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anet_devices.each do |anet_device| %>
  <tr>
    <td><%= anet_device.id %></td>
    <td><%= anet_device.description %></td>
    <td><%= anet_device.location %></td>
    <td><%= anet_device.object %></td>
    <td><%= anet_device.token %></td>
    <td><%= anet_device.secret_token %></td>
    <td><%= anet_device.id_owner %></td>
    <td><%= anet_device.is_public %></td>
    <td><%= link_to 'Show', anet_device %></td>
    <td><%= link_to 'Edit', edit_anet_device_path(anet_device) %></td>
    <td><%= link_to 'Destroy', anet_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anet device', new_anet_device_path %>
