<div class="modal fade in" id="modal-new-smw" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:add_new_phone) %> <i class="fa fa-dot-circle-o"></i></h4> 
      </div>
        <div class="modal-body">
          <p><%= t(:complete_all_fields) %></p>
          <%= render :partial=>'smartwatches/form',:locale => 'en' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>