<div class="modal fade in" id="modal-new-device" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:add_new_embedded_device) %> <i class="icon-bug"></i></h4> 
      </div>
        <div class="modal-body">
          <p><%= t(:add_new_device_description) %></p>
          <%= render :partial=>'anet_devices/form',:locale => 'en' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
