  <div class="modal fade in" id="modal-new-phone" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= t(:add_new_phone) %> <i class="icon-phone"></i></h4> 
    </div>
      <div class="modal-body">
        <p><%= t(:complete_all_fields) %></p>
        <%= render :partial=>'sys_user_phones/form',:locale => 'en' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>