<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @anet_device.id %>
</p>

<p>
  <b>Description:</b>
  <%= @anet_device.description %>
</p>

<p>
  <b>Location:</b>
  <%= @anet_device.location %>
</p>

<p>
  <b>Object:</b>
  <%= @anet_device.object %>
</p>

<p>
  <b>Token:</b>
  <%= @anet_device.token %>
</p>

<p>
  <b>Secret token:</b>
  <%= @anet_device.secret_token %>
</p>

<p>
  <b>Id owner:</b>
  <%= @anet_device.id_owner %>
</p>

<p>
  <b>Is public:</b>
  <%= @anet_device.is_public %>
</p>


<%= link_to 'Edit', edit_anet_device_path(@anet_device) %> |
<%= link_to 'Back', anet_devices_path %>
