<%= form_for(@anet_log) do |f| %>
  <% if @anet_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anet_log.errors.count, "error") %> prohibited this anet_log from being saved:</h2>

      <ul>
      <% @anet_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :arduino_id %><br />
    <%= f.number_field :arduino_id %>
  </div>
  <div class="field">
    <%= f.label :connection_type %><br />
    <%= f.number_field :connection_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
