<h1>Listing anet_logs</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Arduino</th>
    <th>Connection type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anet_logs.each do |anet_log| %>
  <tr>
    <td><%= anet_log.id %></td>
    <td><%= anet_log.arduino_id %></td>
    <td><%= anet_log.connection_type %></td>
    <td><%= link_to 'Show', anet_log %></td>
    <td><%= link_to 'Edit', edit_anet_log_path(anet_log) %></td>
    <td><%= link_to 'Destroy', anet_log, :method=> :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anet log', new_anet_log_path %>
