<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @anet_log.id %>
</p>

<p>
  <b>Arduino:</b>
  <%= @anet_log.arduino_id %>
</p>

<p>
  <b>Connection type:</b>
  <%= @anet_log.connection_type %>
</p>


<%= link_to 'Edit', edit_anet_log_path(@anet_log) %> |
<%= link_to 'Back', anet_logs_path %>
