
<!DOCTYPE html>
<html>
<head>
  <title>Suitch dashboard</title>
  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="audiojs/audiojs/audio.min.js"></script>

    <% current_uri = request.env['PATH_INFO'] %>
  

  <%= csrf_meta_tags %>

</head>
    <body>        


<%= yield %>

</body>
</html>