
<!DOCTYPE html>
<html>
<head>
  <title>Suitch dashboard</title>
  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="audiojs/audiojs/audio.min.js"></script>

    <% current_uri = request.env['PATH_INFO'] %>
    <% if current_uri!="/" %>
  
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="css/animate.css" type="text/css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="css/font.css" type="text/css" cache="false" />
  <link rel="stylesheet" href="js/select2/select2.css" type="text/css" />
  <link rel="stylesheet" href="js/datepicker/datepicker.css" type="text/css" cache="false" />
  <link rel="stylesheet" href="js/fuelux/fuelux.css" type="text/css" />
  <link rel="stylesheet" href="js/slider/slider.css" type="text/css" />
  <link rel="stylesheet" href="css/plugin.css" type="text/css" />
  <link rel="stylesheet" href="css/app.css" type="text/css" />
  <link rel="stylesheet" href="/js/jquery-timepicker-master/jquery.timepicker.css" type="text/css" />
  <link rel="stylesheet" href="js/datatables/datatables.css" type="text/css" />
  <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  
   

  
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="js/ie/respond.min.js" cache="false"></script>
    <script src="js/ie/html5.js" cache="false"></script>
    <script src="js/ie/fix.js" cache="false"></script>
  <![endif]-->
  
    <% elsif current_uri=="/"
      %>
    <!-- main frontpage -->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="assets/css/pages/promo.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/pages/pricing-tables.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
    
   
   <link href="assets/css/plugins.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/pages/coming-soon.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <% else %>
    
  
  
  <% end %>
    
    

    
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
<script type="text/javascript">
function dummy(){
  alert("dummy");
}
audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
function insertParam(key, value)
{
    key = escape(key); value = escape(value);

    var kvp = document.location.search.substr(1).split('&');

    var i=kvp.length; var x; while(i--) 
    {
    	x = kvp[i].split('=');

    	if (x[0]==key)
    	{
    		x[1] = value;
    		kvp[i] = x.join('=');
    		break;
    	}
    }

    if(i<0) {kvp[kvp.length] = [key,value].join('=');}

    //this will reload the page, it's likely better to store this until finished
    document.location.search = kvp.join('&'); 
}
function verifyNumber(){
	// 
    var num=document.getElementById('userPhoneNumber').value;
    num=num.replace(/[^0-9]/g, '');
    if(num.length != 10) {
        $("#myModal2").modal('show'); 
    } else {
       insertParam("phone",num);
    }
}


</script>
</head>
<% if current_uri=="/personal_accounts" %>
    <body>        
<% else %>
    <!-- main frontpage -->
    <body class="page-header-fixed page-full-width">
<% end %>


<%= yield %>
<% if current_uri!="/" %>

  
  <!-- Bootstrap -->

    <!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]--> 
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
       <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>   
       <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
       <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>

  <script src="/js/bootstrap.js"></script>
        
  <!-- Sparkline Chart -->
  
  <!-- App -->
  <script src="/js/app.js"></script>
  <script src="/js/app.plugin.js"></script>
        <script src="js/app.data.js"></script>
<script src="/js/charts/sparkline/jquery.sparkline.min.js"></script>
        <script src="/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
<script src="/js/fuelux/fuelux.js"></script>
<script src="js/libs/underscore-min.js"></script>
<script src="js/datatables/jquery.dataTables.min.js"></script>
        
        

  <!-- Sparkline Chart -->
  
  <!-- Easy Pie Chart -->
  
        <script src="js/slider/bootstrap-slider.js"></script>

  <!-- Flot -->
  
  <script src="/js/jquery-timepicker-master/jquery.timepicker.min.js" cache="false"></script>
  <script src="/js/jquery-timepicker-master/jquery.timepicker.js" cache="false"></script>
  <script src="js/file-input/bootstrap.file-input.js"></script>
  <!-- combodate -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="js/combodate/combodate.js" cache="false"></script>
  <!-- parsley -->
  <script src="js/parsley/parsley.min.js" cache="false"></script>
  <script src="js/parsley/parsley.extend.js" cache="false"></script>
  <!-- select2 -->
  <script src="js/select2/select2.min.js" cache="false"></script>
  <script src="js/slimscroll/jquery.slimscroll.min.js" cache="false"></script>



  <script type="text/javascript" src="/assets/plugins/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

  <!-- Add fancyBox main JS and CSS files -->
  <script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="/assets/plugins/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

  <!-- Add Button helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="/assets/plugins/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <script type="text/javascript" src="/assets/plugins/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

  <!-- Add Thumbnail helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="/assets/plugins/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
  <script type="text/javascript" src="/assets/plugins/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <!-- Add Media helper (this is optional) -->
  <script type="text/javascript" src="/assets/plugins/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
  <% if current_uri.index("summaries")!=nil %>
  jQuery(document).ready(function() {
        $('.fancybox-media')
        .attr('rel', 'media-gallery')
        .fancybox({
          padding:0,
          'width':980,
          openEffect : 'none',
          closeEffect : 'none',
          prevEffect : 'none',
          nextEffect : 'none',

          arrows : false,
          helpers : {
            media : {},
            buttons : {}
          }
        });
      });
  <% if session[:activeUser].gps_location!=nil %>
   getTextLocation("<%= session[:activeUser].gps_location %>");
   $("#kmslide").on('slideStop', function(slideEvt) {
  saveGeoSettings();
});
  <% end %>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      $.post( "/summaries/setLocation.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',location:"none"})
            .done(function( data ) {
             
          });
    }
    <% if session[:activeUser]!=nil
        if session[:activeUser].sys_rol==1 %>
    function newOrigin(){
      $.post( "/summaries/newOrigin.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>'})
            .done(function( data ) {
             location.reload();
          });
    }
    function sendToAllg(){
      $.post( "/summaries/sendToAll.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',msg:$("#globalmsgq").val()})
            .done(function( data ) {
             alert("Ha empezado el envio.");
          });
    }
    <%end 
    end %>
    function performSimulation(valu){
      alert("Se ha enviado un mensaje de prueba a tu inbox, no olvides revisar la sección de -Otros- en el inbox de Facebook y marcarlo como mensaje siempre visible.");
      $.post( "/summaries/simulateMe.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',kind:valu})
            .done(function( data ) {
             
          });
    }
    function showPosition(position){
      // alert("Latitude: " + position.coords.latitude + "Longitude: " + position.coords.longitude);
       
      $.post( "/summaries/setLocation.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',location:position.coords.latitude+","+position.coords.longitude})
            .done(function( data ) {
             
          });
      getTextLocation(position.coords.latitude+","+position.coords.longitude);
    }
    function saveGeoSettings(){
       $.post( "/summaries/geoSettings.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',one:$("#oned").is(':checked') ? 1 : 0, two:$("#twod").is(':checked') ? 1 : 0,three:$("#threed").is(':checked') ? 1 : 0,distance:$("#kmslide").val()})
            .done(function( data ) {
             
          });
    }
    function getTextLocation(pos){
      gmap_markers = new GMaps({
      el: '#gmap_marker',
      lat: pos.split(",")[0],
      lng: pos.split(",")[1],
      zoom: 7
    });

    gmap_markers.addMarker({
      lat: pos.split(",")[0],
      lng: pos.split(",")[1],
      title: 'Estas aquí',
      infoWindow: {
        content: 'Detectamos que te encuentras en esta ubicación.'
      }
    });
    <% if @ipsfromdevices!=nil %>
    <% @ipsfromdevices.each do |key,value| %>
    var tmv="<%= value %>";
    gmap_markers.addMarker({
      lat: tmv.split(",")[0],
      lng: tmv.split(",")[1],
      title: "<%= key %>",
      infoWindow: {
        content: 'Detectamos que uno de tus dispositivos esta en esta ubicación.( <%= key %> )'
      }
    });
    <% end %>
    <% end %>
      $.get( "https://maps.googleapis.com/maps/api/geocode/json?latlng="+pos+"&sensor=false&key=AIzaSyBZaFXyd4_8iMAH-VMxpLDMcCm0GC8n0Lo&libraries=geometry")
            .done(function( data ) {
              
              var msgToShow="";
              for(var c=0;c<data.results.length;c++){
                var dirad=data.results[c];
                if(dirad.types[0]=="locality"){
                  msgToShow+=dirad.formatted_address;
                }
              }
              $("#ncharge").html(msgToShow);
              $("#showMeOnMap").html(msgToShow);
          });
    }
  <% end %>
var updateRoundedCharts=function(){
    $('.easypiechart').each(function(){
      var $barColor = $(this).data("barColor") || function($percent) {
            $percent /= 100;
            return "rgb(" + Math.round(255 * (1-$percent)) + ", " + Math.round(255 * $percent) + ", 125)";
        },
    $trackColor = $(this).data("trackColor") || "#c8d2db",
    $scaleColor = $(this).data("scaleColor"),
    $lineWidth = $(this).data("lineWidth") || 12,
    $size = $(this).data("size") || 130,
    $animate = $(this).data("animate") || 1000;

    $(this).easyPieChart({
          barColor: $barColor,
          trackColor: $trackColor,
          scaleColor: $scaleColor,
          lineCap: 'butt',
          lineWidth: $lineWidth,
          size: $size,
          animate: $animate,
          onStop: function(){
            var $this = this.$el;
            $this.data("loop") && setTimeout(function(){ $this.data("loop") && updatePie($this) }, 2000);         
          },
          onStep: function(value) {
            this.$el.find('span').text(parseInt(value));
          }
      });
  });
  }
  updateRoundedCharts();
      
  // chart js
	var generateSparkline = function($re){
		$(".sparkline").each(function(){
			var $data = $(this).data();
			if($re && !$data.resize) return;
			if($data.type == 'bar'){
				!$data.barColor && ($data.barColor = "#3fcf7f");
				!$data.barSpacing && ($data.barSpacing = 2);
				$(this).next('.axis').find('li').css('width',$data.barWidth+'px').css('margin-right',$data.barSpacing+'px');
			};
			
			($data.type == 'pie') && $data.sliceColors && ($data.sliceColors = eval($data.sliceColors));
			($data.type == 'bar') && $data.stackedBarColor && ($data.stackedBarColor = eval($data.stackedBarColor));
			
			$data.fillColor && ($data.fillColor.indexOf("#") !== -1) && isRgbaSupport() && ($data.fillColor = toRgba($data.fillColor, 0.5));

			$data.valueSpots = {'0:': $data.spotColor};
			$data.minSpotColor = false;
			$(this).sparkline( $data.data || "html", $data);

			if($(this).data("compositeData")){
				var $cdata = {};
				$cdata = $(this).data("compositeConfig");
				$cdata.composite = true;
				$cdata.valueSpots = {'0:': $cdata.spotColor};
				$cdata.fillColor && ($cdata.fillColor.indexOf("#") !== -1) && isRgbaSupport() && ($cdata.fillColor = toRgba($cdata.fillColor, 0.5));
				$(this).sparkline($(this).data("compositeData"), $cdata);
			};
			if($data.type == 'line'){
				$(this).next('.axis').addClass('axis-full');
			};
		});
         $("[data-toggle=tooltip]").tooltip();
	};

	var sparkResize;
	$(window).resize(function(e) {
		clearTimeout(sparkResize);
		sparkResize = setTimeout(function(){generateSparkline(true)}, 500);
	});
	generateSparkline(false);
      
var updateTimePicker=function(){
    $('#basicExample').timepicker();
              
}
function sendit(productid,productidcontent){
           
       $.post( "/anet_devices/sendToDevice.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',device:productid,content:productidcontent})
            .done(function( data ) {
            //alert("done");
          });
           }
function changeLanguage(langes  ){
  
  $.post( "/personal_accounts/changeLanguage.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',lang:langes})
            .done(function( data ) {
             
          });
}
function likeit(devid){
  
  $.post( "/personal_accounts/likeIt.json",{utf8:"✓",authenticity_token:'<%= form_authenticity_token.to_s %>',deviceid:devid})
            .done(function( data ) {
             
          });
}

</script>
  <% end %>
</body>
</html>